[2019-06-10 19:14] JTBS opened #3 "Can't install ODBC 2.0.0 version of library on Windows"
Hi,
Thank you for upgrading to 2.0.0 with performance fixes. I think it really helps and so far I was able to install and test new version only on Linux.

On Windows, I constantly see below error:
error C2589: '(': illegal token on right side of '::' (compiling source file ..\src\odbc_statement.cpp)

there are same errors are on all .cpp files in build, as error is coming from odbc.h

If I fix thi

[2019-06-10 19:20] rcronin commented on #3
Also seeing this issue as well.

[2019-06-10 19:30] markdirish commented on #3
Seems to be related to this issue: https://stackoverflow.com/questions/2561368/illegal-token-on-right-side-of

I am using std::max, which seems to not play nice with Windows. If you add `NOMINMAX` to `binding.gyp` at the 'OS=="win" check like so:

[code]

Does that fix it?

[2019-06-10 19:50] JTBS commented on #3
Thanks again for getting back on this.

I got the build going fine once I removed "std::" prefix and worked on Windows.

However I could not get it working with binding.gyp approach. Not sure if I made any mistake. If you can paste whole binding.gyp that might worked for you, I can try the same [just in case if I did not get this right].

[2019-06-10 20:29] JTBS opened #4 "SQL Execution fails with "Command failed with exit code 3221225477"
Please delete this issue.
I am doubting this is mostly due to API changes and not implementing them correctly when using Pool.
I am working on review/additional testing.

Sorry for confusion and thanks for clear documentation/update.

[2019-06-10 21:32] #4 closed

[2019-06-10 21:45] JTBS opened #5 "2nd conn.Close causes process to exit."
I am testing latest 2.0.0 version - without connection Pool. Just connect and execute query.

My scenario:
**(This issue looks like specific to Multiple DB Connections using 2 Promises. If I execute ONLY one query at a time, close connection is fine. No issues)**

Two DB connections executing two queries at same times and Promise.All waits for both
Both queries complete and I am seeing results rea

[2019-06-11 11:43] rcronin commented on #3
@markdirish,

In odbc.h, I added the following and it compiled:

`#include <algorithm>`

And on line 149:

`int numParameters = (std::max)(this->bindValueCount, this->parameterCount);`

[2019-06-11 12:47] markdirish commented on #5
I'm not sure I follow. Could you post an example with both connections using Promise.All? Something like the minimum amount to get the package to break.

Thanks

[2019-06-11 13:48] #3 closed

[2019-06-11 14:28] markdirish commented on #3
Pushed v2.0.0-2 to NPM, should fix this issue

[2019-06-11 19:36] JTBS commented on #5
markdirish,
Thanks for follow up.
Below is closet sample code I can share:

const workers = [];
workers.push(executeODBCQuery(hostName, dbName, query)) // This created new Connection and executes query - No reuse
Promise.all(workers)
.then(function(data) {
	let resultData = {
		count: 0,
		select: []
	};

	data.map((_) => {
		resultData.count += _.count;
	});

	resolve(resultData);
})
.catch(funct

[2019-06-11 19:39] JTBS opened #7 "Process crashes while connecting to Database on Node v11.15.0"
Hi,
All worked fine on Windows with Node version v10.14.2.
I did fresh install of **Node v11.15.0** on Linux box and tested project.

When I try to open DB connection, process exists with below failure:
**error Command failed with signal "SIGSEGV".**

Is it possible it is specific to Node version I am using.
Anyone tested 2.0 with above exact version or seeing similar issues?

[2019-06-11 20:01] JTBS commented on #7
Quick update:
I tested again on Linux with different Node versions.

It works well with 8.16.0 and performance improvement is almost 50% [at least for my scenario]
**But I could not get it working on 10.x or 11.x on Linux.**
Either error or crash in these versions - at least for me.

[2019-06-11 20:07] markdirish commented on #7
I run mine on Linux (RHEL) at Node v 10.16. On your fresh Linux boxes do you have all your unixODBC stuff set up (drivers in `odbcinst.ini`, DSNs in `odbc.ini`)?

[2019-06-11 21:34] JTBS commented on #7
Yes. On linux box, I have ODBC is installed and I use MS SQL ODBC driver version 13:
/libmsodbcsql-13.1.so.6.0

I can use version 17 which is more latest if that helps.
But with older Node version it worked fine even with 13 - so did not bother.

**I have quick question:** We are bit pressed to improve performance and certainly new version is much better mainly for large data. Do you know of any q

[2019-06-12 01:39] markdirish commented on #7
I tried with Windows 10, Node.js 12.4.0, and using the MS SQL ODBC driver version 13. Seemed to work find in that case. I will keep trying different configurations and see if I can recreate the SIGSEGV. Is there any other information it gives? (Usually not with a segfault, but though I'd try).

As for your question, the answer is unfortunately no. 2.0 began as a rewrite of how data is retrieved to

[2019-06-12 17:31] JTBS opened #8 "Critical: 2.0 version data read: Float and Date values from same queries are not showing up same as Version 1.4.6"
I have two instances running on same machine, pointing to same DB and SAME code-base - ONLY exception is one uses ODBC 1.4.6 and other uses ODBC 2.0.0.

I am doing this to test new version. Performance is consistently 50% better even when I tested iwht 10MB of data returned through queries.

**Issue: Main issue is FLOAT values returned by ODBC 2.0.0 driver are not correct**. All other values match

[2019-06-12 17:35] JTBS commented on #7
Thank you. appreciate getting back on this. As of now I am able to set to 8.16.0 node version and get things going. Will retest higher versions once we have stable runs in 8.16.0 as needed.

[2019-06-13 16:55] markdirish commented on #8
Ok, so I've investigated the timestamp issue, and I think the right solution is to leave it as it is.

Justification:

In ODBC 1.4.6, when a SQL_DATETIME or SQL_TIMESTAMP field is returned, the package would take the String returned, and call the C functions `mktime`, `timelocal`, or `gmtime` depending on what OS you were running and what functions you had available to you.

In the examples you po

[2019-06-13 17:18] #8 closed

[2019-06-13 17:27] JTBS commented on #8
Thank you. I will test more.. but I agree that driver should not do any conversion and return what is returned in DB as-is.  But it is important to highlight this change in your Read me as you don't want people to find this out by surprise. You will just help them upfront this way to avoid noise.

Really appreciate you taking care of this issue. Thanks.

[2019-06-13 20:39] sjmorales opened #11 "Calling Stored Procedures Issue"
I keep getting Stored Procedure doesn't Exit in DB2.

Create or Replace Function Test() Returns VARCHAR(4000)
Return ('Test');

const connection = await odbc.connect("DSN=MYDSN");
const result = await connection.callProcedure(null, null, 'TEST', [undefined]);
console.log(result);

(node:2235) UnhandledPromiseRejectionWarning: Error: Error: [Node.js::odbc] CallProcedureAsyncWorker::Execute: Stored

[2019-06-13 20:47] markdirish commented on #11
That's funny, the error should read 'Stored procedure TEST doesn't **exist**'.

We have been noticing in other packages that there is some difficulty resolving the default library/default schema, especially if not defined in the DSN configuration. If you add the schema/library name to the second parameter instead of `null`, does it print the same error?

[2019-06-13 21:21] sjmorales commented on #11
Yes.  It does get the same error.
If I do "values (TEST())", I get a result as expected when I query the stored procedure.

[2019-06-13 21:38] sjmorales commented on #11
const connection = await odbc.connect("DSN=MYDSN");
const result = await connection.query("Create or Replace Function Test() Returns CHAR(4) Return 'Test'");
console.log(result);

result = await connection.callProcedure(null, 'PGMSTEVEN', 'TEST', [undefined])
	.catch(error => console.log('Error:',error));
console.log(result);

I updated my test to include the create or replace function right befor

[2019-06-13 21:58] sjmorales commented on #11
const result3 = await connection.query("Values (TEST())");
console.log(result3);

[
  { '00001': 'Test' },
  statement: 'Values (TEST())',
  parameters: [],
  return: undefined,
  count: -1,
  columns: [ { name: '00001', dataType: 1 } ]
]

[2019-06-14 15:38] sjmorales commented on #11
After thinking about things, I noticed that I was calling a function, not a procedure.
I tried calling this procedure...

Create or Replace Procedure Test2(
  OUT TestData VARCHAR(4))
P1: BEGIN
  SET TestData = 'Test';
END P1;

But it errors out with a core dump.
*** Error in `node': free(): invalid pointer: 0x00007fe6f94f9b88 ***

[2019-06-14 16:46] sjmorales commented on #11
Another update.  If I only use numbers in the parameter, it works.  If I use varchar or char, it crashes with a segmentation fault/core dump.

[2019-06-15 10:26] ml60 opened #13 "std::bad_alloc with many rows result"

[2019-06-17 13:53] sjmorales commented on #11
Just to rule out the ODBC driver, I did a test in ISQL and it worked as it was supposed to...

CREATE VARIABLE X VARCHAR(4);
CALL TEST2(X);
VALUES (X);
//Result : XXXX

[2019-06-18 14:34] markdirish commented on #13
I have run tests on valgrind and can't find a memory leak anywhere, can you give more information about your issue? std::bad_alloc could be because Node.js doesn't have enough memory available to store all the rows you are returning if you are getting thousands, tens of thousands, hundred of thousands. You might have to run use `LIMIT` in your query or another method of paginating.

[2019-06-18 15:13] markdirish commented on #11
Ok, back on this for a bit, I have recreated the issue with a procedure returning a NUMERIC and a VARCHAR, and I am seeing the seg fault. Investigating!

[2019-06-18 15:23] ml60 commented on #13
Hi Mark,

i make a query with 15.000 rows (1kB each)
with odbc 2.0.0-beta.1, i have no problem

i'm using node 12.4.0

best regards
Massimo Lupano

Il giorno mar 18 giu 2019 alle ore 16:34 Mark Irish <
notifications@github.com> ha scritto:

[2019-06-18 17:02] sjmorales commented on #11
You would be our hero.   Do you wear an iCape?
________________________________
From: Mark Irish <notifications@github.com>
Sent: Tuesday, June 18, 2019 11:13:16 AM
To: markdirish/node-odbc
Cc: Steven Morales; Author
Subject: Re: [markdirish/node-odbc] Calling Stored Procedures Issue (#11)

Ok, back on this for a bit, I have recreated the issue with a procedure returning a NUMERIC and a VARCHAR, a

[2019-06-18 18:07] markdirish commented on #11
I think I isolated and fixed the issue, I have a branch with the fixes:

https://github.com/markdirish/node-odbc/tree/callProcedure-segFault

Would you mind pulling and seeing if it fixes the issue? Thanks!

[2019-06-18 18:13] markdirish commented on #11
I haven't fixed the return issue yet... it looks in the code that I actually made it just hardcode return undefined! I will take a look into it now

[2019-06-18 18:15] sjmorales commented on #11
Testing now...

[2019-06-18 19:28] murphman300 opened #15 "NPM install error"
Trying to re-install your package produced this error as of 30 minutes ago.

OS: Windows 10 Enterprise, v. 1803.

    gyp ERR! configure error
    gyp ERR! stack Error: Command failed:
    C:\Users\{NAME}\AppData\Local\Programs\Python\Python37-32\python.EXE -c import sys; print "%s.%s.%s" % sys.version_info[:3];
    gyp ERR! stack   File "<string>", line 1
    gyp ERR! stack     import sys; print

[2019-06-18 19:34] markdirish commented on #15
For *whatever* reason, node-gyp uses Python 2. This is a node-gyp issue, your node-gyp is finding Python 3. You will somehow need to set it to point to a Python2 python.exe (I think you set your PYTHON environment variable).

See this issue at node-gyp: https://github.com/nodejs/node-gyp/issues/1528

[2019-06-21 21:26] jkdavew commented on #11
Hi Mark - is there, or will there be support for using callProcedure with a stored procedure having CLOB parameters?

As of now it doesn't appear to be working in node (as a side note, I was able to get it to work with the iSQL application).

Thank you

[2019-06-24 12:32] markdirish commented on #11
As of this moment there is not support for CLOBs, working with CLOBs/BLOBs was something I wasn't super comfortable with when I first started to work on this package. I'm willing to take a stab at it now, though I probably won't get a chance to work on it until the first week in July.

Quick question: What type of data are you storing in your CLOB field, long text data? I assume developers want th

[2019-06-24 12:36] #15 closed

[2019-06-24 14:11] jkdavew commented on #11
Thanks Mark.

Yes a long string is what I was looking to output...specifically a string
of JSON as this would be used for a RESTful service.

Appreciate the work!

On Mon, Jun 24, 2019, 8:32 AM Mark Irish <notifications@github.com> wrote:

[2019-06-24 14:17] SK0RM opened #16 "NPM install error"
Hello,

I am trying to install the package but `npm i odbc` fail with the following message:

[code]

FYI: I am on Mac OS Mojave (10.14.5).

Any idea what I am not doing right?

Thanks in advance for your time,
Best regards.

[2019-06-25 13:32] markdirish commented on #16
Hi @SK0RM ,

This issue has actually been fixed on the master branch of this GitHub, I just haven't had the chance to push to npm yet. I'm at a conference today, so I doubt I will be able to push a new version today, but if you would like to use it in the meantime, you can npm install the github branch and get working!

[2019-06-25 13:32] #16 closed

[2019-06-25 20:44] jkdavew commented on #11
Mark,

One more thing regarding this issue.  Regardless of CLOB support, I seem to be having issues with regular CHAR or VARCHAR data.

My stored procedure calls an RPG program...could there be an issue with that integration?

CREATE OR REPLACE PROCEDURE LIBNAME/STRDPROC(
                IN inRequest CHAR(500),
                OUT otResponse CHAR(500)
            )
        EXTERNAL NAME 'LIBNAME/S

[2019-06-26 17:00] jkdavew commented on #11
Also getting this sporadically if this helps:

double free or corruption (!prev)
Segmentation fault (core dumped)

[2019-06-26 22:41] sjmorales commented on #11
There seems to be an issue with input/output parameters.

If you create a procedure that has an INOUT and an OUT, and just pass the IN to the OUT, the data is lost.  SQL does not appear to be receiving the INOUT data.

If I uncomment the line that sets the OUT value, it does return that value.
Also, if I use IN instead of INOUT, it works (sometimes).

[code]

[code]

[2019-06-27 13:57] ThePrez opened #17 "Move to IBM github presence?"
I propose we move this to http://github.com/IBM/node-odbc

[2019-06-27 14:08] markdirish commented on #17
One of the requests that wankdanker had when I took it over was that we didn't move it under the IBM organization GitHub, as it might turn off those who don't use IBM products or are connecting from non-IBM systems and/or to non-IBM databases.

Now, the actual code ownership doesn't change if it moves over there, since my work is all property of IBM, but hosting it in more "neutral" territory was

[2019-06-27 15:21] ThePrez opened #18 "New feature request: Connection pool"
Proposing a connection pool class be written, similar (or identical to) the DBPool class of the [idb-pconnector](https://www.npmjs.com/package/idb-pconnector)

[2019-06-27 15:22] ThePrez commented on #17
That's a reasonable argument for keeping this in a more neutral territory. Closing this issue

[2019-06-27 15:22] #17 closed

[2019-07-02 19:59] markdirish commented on #11
I looked into this more, and it looks like this might actually be an issue with the driver itself, which is returning -99 for for CLOB data type, which then cannot be bound using SQLBindParameter. There might be an option to change to get it to return the correct data, but I will have to do some investigating. Looking through the other issues on here as well.

[2019-07-03 00:22] sjmorales commented on #11
If it helps, we were able to get clob data via normal queries.   Ie: values clob("test").  I tested a string length of 34k.  It returns datatype of -1 in this case.
________________________________
From: Mark Irish <notifications@github.com>
Sent: Tuesday, July 2, 2019 3:59:24 PM
To: markdirish/node-odbc
Cc: Steven Morales; Author
Subject: Re: [markdirish/node-odbc] Calling Stored Procedures Issue

[2019-07-08 00:05] markdirish commented on #18
Package has a connection pool class: https://github.com/markdirish/node-odbc#Pool

What features were you looking for? I think this one performs a little better, because it exposes a .query method, which allows you to fire off a query on any connection (if you just want to do a simple one-off query). If you want to do prepare/bind/execute workflow or multiple queries on the same connection, you ca

[2019-07-08 00:07] markdirish commented on #13
Sorry, I've had a busy couple of weeks. If it works on 2.0.0-beta.1, but not on 2.0.0-4, then hopefully I can track down what changed. I will take a peek and see what I can come up with (and also see if I can replicate the issue)

[2019-07-08 16:16] ThePrez commented on #18
Wow, not sure how I missed that!
I was looking for a convenience method to group the prepare, bind, execute, and relinquish into one convenience method. `query()` might do that:
https://github.com/markdirish/node-odbc#querysql-parameters-callback-1

But can `query()` do UPDATES, DELETES, and procedure calls?

[2019-07-18 21:08] maxpshaw opened #19 "SQL Data Types"
Hello,

I tested the same query (column discontinued has data type BIT) on both version 1.4.5 and 2.0.0 and it seems v1 can recognize BIT but not v2; any plan to support it in the future?

1.4.5
[code]

2.0.0-4
[code]

[2019-07-26 00:48] markdirish commented on #19
Hi @maxpshaw ,

Sorry for the late response. 2.0.0-4 _does_ recognize SQL_BIT data type in ODBC. The difference is, in 1.4.5, BIT data types are automatically converted to JavaScript boolean values. There are a number of reasons this is problematic, but a two big ones are:

* Not every bit(1) data field is substituting boolean values
* There are bit data fields with size greater than 1 which canno

[2019-07-26 00:48] #19 closed

[2019-07-26 00:52] markdirish commented on #18
Query() can do everything (and can even handle procedure calls), but to get an even _easier_ procedure call, I would do:

[code]

This .callProcedure method uses the "ODBC way" of call procedures.

[2019-07-26 00:52] #18 closed

[2019-08-06 09:52] erayd commented on #7
I'm experiencing the same issue.

@markdirish - I have a minimal-case docker config that can replicate this against SQL Server 2016. Would it be useful to you if I posted that somewhere?

[2019-08-06 12:30] markdirish commented on #7
@erayd

Yeah, I still haven't been able to replicate this, so a docker config would be helpful in tracking it down. Thanks!

[2019-08-06 13:54] erayd commented on #7
@markdirish

Here you go - minimal test case. To replicate against SQL Server 2016:

1. Edit the database definition in `etc/odbc.ini` to point to a real database
2. Edit the username and password in `app/main.js` to be a real account
3. `make container`
4. `make run`

If you want to investigate inside the container, I've also added a `make shell` target for you.

[segfault-demo.tar.gz](https://gi

[2019-08-08 12:36] markdirish opened #25 "SQL_TINYINT Suppport"
No switch statement for SQL_TINYINT when binding data either into or out of the database. This means that fields that map to SQL_TINYINT are returned as strings, which isn't the desire behavior. Add SQL_TINYINT support to the package.

[2019-08-08 13:00] #25 closed

[2019-08-11 02:39] tecklund opened #26 "Errors when inserting with prepared statement"
I'm trying to run node-odbc against vertica and I'm getting a strange error when running a simple prepared statement.
The row is inserted in the db, but the program exits at `statement.execute()` with this error:

[code]

[2019-08-14 13:52] markdirish commented on #26
Hi @gnomff ,

I am trying to debug this bug haven't been able to reproduce... I'm going to make some changes to the package to have better debugging, then I'll post again here and ask that you download it and turn debugging on so I can see what's going on. I've seen `undefined:0` as an error before, and usually its a JavaScript issue (in this case probably converting the results from C/C++ to Java

[2019-08-16 10:53] gnomff commented on #26
Ok great, let me know and I'll be happy to run it again

[2019-08-16 17:15] markdirish commented on #26
Alright, 2.1.3 should now be available. If you download it, then go into the `binding.gyp` and add `DEBUG` to the defines like so:
[code]
It should print out a bunch of things when you run, and it will be easier for me to see what the issue it. To rebuild after you change the file, run `node-gyp rebuild` from the odbc directory.

[2019-08-19 10:47] yuguifly opened #28 "select with character 'ñ'"
Hello I’have update odbc  from 1.4.5 to 2.1.3 and I have problem to do select with col with character ‘ñ’. I using pool connection now but the same select in version 1.4.5 without pool it Works fine but with 2.1.3 and pool has the next error
`select * from "Table" where "año"='${anho}' and "fecha"='${fecha}'`

'[Pervasive][ODBC Client Interface][LNA][Pervasive][ODBC Engine Interface]Invalid column

[2019-08-19 16:20] markdirish commented on #28
Hi @yuguifly ,

Could you define `'DEBUG'` in your binding.gyp like so:

[code]
And then in your `node_modules/odbc` directory, run `node-gyp rebuild`

Then, rerun your application, and it should print out a bunch of debug messages that should help me diagnose the issue. I suspect it might have something to do with UNICODE.

[2019-08-20 01:47] gnomff commented on #26
[code]

[2019-08-20 01:59] gnomff commented on #26
To replicate:
- install [vertica odbc drivers](https://www.vertica.com/client_drivers/9.2.x/9.2.1-1/vertica-odbc-9.2.1-1.mac.pkg)
- start vertica with `docker run -p 5433:5433 -e DATABASE_NAME='testdb' jbfavre/vertica:latest`
- connect to vertica and create a table
  `vsql -h localhost -d testdb -u dbadmin`
  `create table testtable (name varchar(256));`
- run this script:
[code]

[2019-08-20 08:14] yuguifly commented on #28
Hello, I think I have done the change correctly, these are the error I get now.

This error is col with ñ "campaña"

[Error: "errors": [{ "error": "[Node.js::odbc] QueryAsyncWorker::Execute: Error in ODBC function SQLExecDirect", "message": "[Pervasive][ODBC Client Interface][LNA][Pervasive][ODBC Engine Interface]Error in expression: campaña ", "SQLState": "HY000"},{ "error": "[Node.js::odbc] Quer

[2019-08-21 07:30] yuguifly commented on #28
Hello, I’have tested put in the string connection encoding=Cp1252 and encoding=UTF-8 and with this solve the problem with dot, but with “ñ” I still have the problema

[2019-08-22 10:41] JDEfret opened #29 "Unsupported datatype: Hyperlink"
Hi,

I only started programming at the start of the month so apologies if any of this is incorrect.

My environment:

Windows 10 Pro version 1903 - 64bit
Node.JS version 12.9.0 - 32bit
MS Access 2013 SP1 - 32bit
.MDB database format

When querying a particular table in my MS Access database no results or errors are displayed. After a lot of investigation I found that if I delete the only field wit

[2019-08-22 13:39] markdirish commented on #29
This is interesting. Does it just hang? Or does it exit?

What it looks like in the debug output is the column is of dataType -1, which is [SQL_LONGVARCHAR](https://github.com/microsoft/ODBC-Specification/blob/master/Windows/inc/sqlext.h#L470). This is the MS Access ODBC driver telling the ODBC driver manager what the datatype is, and reading about Hyperlinks it seems like a plausible mapping.

Th

[2019-08-22 14:05] JDEfret commented on #29
It exits immediately.

I've just discovered that it's doing exactly the same thing for datatype "Long Text".

The "InvoicePath" field is newly created with no data entered. Changing data type to "Short Text" allows the code to run as expected. Changing data type to "Long Text" causes the same crash (I've not re-enabled DEBUG so I'm not sure if dataType is also -1).

When creating the Hyperlink fie

[2019-08-22 15:11] halpina commented on #29
Hi guys - by an amazing coincidence, I think I've run into the same problem today also. In my case, I found the problem for a datatype of 'Memo'  which can be up to 65k characters.

[2019-08-22 15:34] markdirish commented on #26
I have replicated the issue! Investigating now

[2019-08-22 21:08] markdirish commented on #26
Alright, I managed to track down the issue:

For whatever reason, the Vertica ODBC driver wants to return `SQL_WVARCHAR` for the row, even though you made it a `VARCHAR`. So when parameters are being passed back in the result object, for some strange reason I'm doing a bunch of logic I don't need to, and doing it incorrectly, but mostly the issue is that the parameter had been stored as a Utf8 str

[2019-08-23 15:51] gnomff commented on #26
Sounds good, thanks for the update!

[2019-08-27 11:09] Patcher56 commented on #13
I also have the `std::bad_alloc` error.
I am connecting to a IBM iSeries.
When I select data with limit 6, there is no problem, when I select data with limit 7 or higher, I get the `std::bad_alloc` error.
The `isql` command coming with unixodbc queries without any errors.

Using Node v12.1.0 and `odbc` package version `2.1.3`

[2019-08-27 18:47] Patcher56 commented on #13
Hi Mark,
thanks for your fast answer. Oh I didn't find out the meaning of length -4 - thanks for that.

Yes the `KKNA` column is the one with special characters.

It is only strange that I successfully fetched all of the data with my own odbc implementation (like described [here](http://www.unixodbc.org/doc/ProgrammerManual/Tutorial/). It is just a connection and a query, but no implementation of

[2019-08-29 21:08] rcbyrne commented on #7
I also cannot get this working on Node 10 but have it working fine with Node 8

I am using ODBC Driver 13 & Node 10.16.3

I am getting a different error "Segmentation fault (core dumped)". Is there a way I could get a deeper insight into what is actually failing?

[2019-08-30 00:55] markdirish commented on #7
You can build with 'DEBUG' in the defines, and it should show the last thing that happened before the segfault which can be helpful. I've noticed a few SEGFAULTs when running this package as well, mostly dealing with closing connections during pooling.

I'm hoping to push out v 2.2.0 sometime next week to make the package more stable.

[2019-08-30 16:23] luisbraganca opened #30 "Empty error when 0 rows updated"
First of all thank you a lot for all the support and implementation of this module.
Great work!

However I faced a bug and decided to share my thoughts about it with you.

So, the following code:
[code]
Shows the following output on the terminal:
`[Error: "errors": []]`

This error is shown when I execute an `UPDATE` query that the `WHERE` criteria does not match any rows, if it matches at least 1

[2019-08-30 16:26] markdirish commented on #30
I think the issue is probably that the query is returning `SQL_NO_DATA`, which isn't passing the error check (which is only passing on `SQL_SUCCESS` and `SQL_SUCCESS_WITH_INFO`). I actually found this same bug this morning and I am hoping to remedy for the next release.

[2019-08-30 16:28] luisbraganca commented on #30
Ok thanks a lot for the quick response and for all the support.

[2019-09-03 14:35] p-kuen opened #32 "IN() query statement not possible with parameters"
The following query throws an error:

[code]

It throws the error `[odbc] Error binding parameters`

[2019-09-05 14:46] markdirish commented on #32
Which DBMS are you connecting to? Is this a standard syntax, of binding two values in an array to one parameter marker?

As currently written, the package doesn't know how to bind arrays. I'm not sure how it would work... A javascript array contains javascript values, and those values can be converted to their C values for ODBC, but there isn't really a conversion to a C type from an array itself.

[2019-09-05 19:37] dushyantbangal opened #34 "unable to install on windows - 'BigInt': is not a member of 'Napi'"
- Windows 10 build 1903
- Nodejs v8.14.1
- node-gyp v5.0.3
- python 2.7

**Following is the output from powershell:**

[code]

[2019-09-05 19:51] markdirish commented on #34
Hmm... I wonder if the `defines` in binding.gyp gets overwritten.

On line 45 of binding.gyp, can you change the line to:
[code]

And then in the package directory run `node-gyp rebuild` (I think `npm install` should work too) and see if it still fails?

[2019-09-09 06:00] Patcher56 commented on #32
I am connecting to a IBM iSeries ODBC database.

Yes, for example in [the mariadb package](https://www.npmjs.com/package/mariadb) it works like this:
[code]

No, I did not try this, I did a workaround like this:
[code]

Do you think, that your workaround is more safe?

[2019-09-12 11:04] RhianneMoll opened #35 "I don't understand the reasoning behind mixing rows and result metadata"
Hi Mark,

As per the heading, can you please explain what the advantage of this pattern is:

[code]
With respect - this makes no sense to me. While I see the value in returning the metadata in a general sense, surely the aim of the library would be better served by including the row objects in its own tuple, for example:

[code]

The way you've implemented it means that one needs to iterate over E

[2019-09-12 16:53] #35 closed, assigned to nobody

[2019-09-18 22:19] SilverIrbis opened #37 "memory problem with DATETIME"
Hello! Thank you a lot for this module, but there's a little problem, that I can't resolve.
Electron + node 8.9.3 + odbc 1.4.5 (newest version doesnt work with electron because of node version restriction), I succesfully connected to Interbase 2009 database, but there's a problem, when I'm try to get datetime field - application just consume about 2Gb of memory and crashes. Just SELECT, nothing el

[2019-09-22 18:32] maxkisung opened #38 "Error: not found: gmake"
Getting gmake not found on ibm when running "npm install odbc".

gyp ERR! build error
gyp ERR! stack Error: not found: gmake
gyp ERR! stack     at getNotFoundError (/QOpenSys/pkgs/lib/nodejs10/lib/node_modules/npm/node_modules/which/which.js:13:12)
gyp ERR! stack     at F (/QOpenSys/pkgs/lib/nodejs10/lib/node_modules/npm/node_modules/which/which.js:68:19)
gyp ERR! stack     at E (/QOpenSys/pkgs/li

[2019-09-22 18:36] maxkisung opened #39 "Not returning results properly on windows"
connection.callProcedure() returns only the first char of each parameter
and
statement.execute() returns the same parameters that were passed in.

I have not tested this on ibm yet because of my other issue  #38

[2019-09-23 19:03] ctahk0 opened #40 "CP1250 encoding problem from odbc data"
Hello,

I have so many problems with non-unicode characters from database.
The database is IBM Informix, and DB_LOCALE=cs_cz.cp1250 is set in odbc.ini.
I can get correct result when run from ISQL (smal SQL tool installed with Informix SDK), the result is like bellow:
![image](https://user-images.githubusercontent.com/7126829/65453206-03d55b00-de43-11e9-9727-7e40e1be0d9b.png)

Putty terminal is set

[2019-09-23 19:08] worksofliam commented on #40
Hi @ctahk0

Are you able to provide some SQL statements (create+inserts) for us to recreate the table with the correct columns and some of the data you have? This will make it easier for us to debug. Thanks!

[2019-09-23 19:15] ctahk0 commented on #40
Unfortunately I can't insert or edit data, I have only read access. The db is Informix and works on windows env without any problems.

[2019-09-23 19:51] ctahk0 commented on #40
What I can is ask admin to make copy of db and give you ssh access?

[2019-09-24 00:40] maxkisung commented on #39
I guess the statement.bind(parameters, callback?) is not meant to return output parameters
-[ "All parameters will be input parameters."](https://github.com/markdirish/node-odbc#parameters-16)

[2019-09-24 00:54] markdirish commented on #39
Sorry, was actually working on this today and found some other bugs with callProcedure that I've had to fix.

You are correct, statement.execute() only binds SQL statements, which according the ODBC docs are only INPUT parameters.

Can you show me how you are trying to call `callProcedure`? I have tested it a lot today and had it returning `CHAR` and `VARCHAR` data exactly as I expected, not just

[2019-09-24 00:56] markdirish commented on #38
You should be able to `yum install gmake` and then have better luck when trying to install this npm package, but this is really a temporary fix. What I _should_ really do is make it so the pre-built binaries are downloaded, and only compiles from source as a last resort. Unfortunately getting the continuous-integration in place is a bit of work, but I would love to have it done ASAP.

[2019-09-24 04:49] maxkisung commented on #39
let statement = await connection.createStatement();
        let sql = "CALL foo.bar(?,?,?,?,?,?,?,?,?)";
        await statement.prepare(sql);
        let output = [-1, -1, 487878, 1, 2, '20190919', 0, 0, 0];
        await statement.bind(output);
        var result = await statement.execute();

all paramaters are input/output

[2019-09-24 04:50] maxkisung commented on #38
-bash-4.4$ yum install gmake
ibm                                                                                                                                                                                             | 2.2 kB  00:00:00

Setting up Install Process
No package gmake available.
Error: Nothing to do

[2019-09-24 05:16] maxkisung commented on #38
tried
yum install make-4.2.1-4.aix6.1.ppc.rpm
with the rpm from https://www.ibm.com/support/pages/aix-toolbox-linux-applications-downloads-alpha

getting -

Setting up Install Process
Examining make-4.2.1-4.aix6.1.ppc.rpm: 1:make-4.2.1-4.ppc
Marking make-4.2.1-4.aix6.1.ppc.rpm to be installed
Resolving Dependencies
--> Running transaction check
---> Package make.ppc 1:4.2.1-4 will be installed
-->

[2019-09-24 14:28] markdirish commented on #39
Ok, I have recreated this with INOUT params, I can see that only the first character is being returned for some reason. I will investigate further, probably some little oversight

[2019-09-24 15:53] ctahk0 commented on #40
Hi,
I want to inform you that I was able to get the correct characters.
The problem is not in your code at all (fortunately :) )
After setting up the correct client locale in odbc.ini I got the correct results.
In my case this settings works:
![image](https://user-images.githubusercontent.com/7126829/65528076-08a61780-def4-11e9-8df0-d711605e1e9a.png)

Instead of this (wrong results):
![image](http

[2019-09-24 20:56] markdirish commented on #39
Hi @maxkisung ,

I believe I have fixed the problem or INOUT parameters on `.callProcedure`. Can you install the package from my `issue39` GitHub branch to confirm that the issue is fixed for you?

To do this, run
[code]
I have some other issues I am working to fix as well, and then hopefully will soon get this all merged and available on npm as version 2.2.2.

Thanks!

[2019-09-25 06:07] maxkisung commented on #38
ok that worked.  thank you!

yum install make-gnu-4.2-0.ppc64

[2019-09-25 06:07] #38 closed

[2019-09-25 06:37] maxkisung commented on #39
i'm not sure but i think it's changing my input parameters to empty strings or null now.  is there a way to log what values are being passed to the driver?

[2019-09-25 17:22] markdirish commented on #39
I have been testing this morning and haven't found any indication that input params are empty. For CHAR, VARCHAR, BIGINT, TIME, and TIMESTAMP fields, I am sending IN params and funneling them to OUT params, and seeing data as I would expect.

I have updated to add a DEBUG message to print out the strings that are boudn when you have 'DEBUG' defined. To activate it:

* Redownload the package from t

[2019-10-02 15:57] AlessioQ opened #41 "New feature request: streaming results"
I would propose a way to 'stream' the query result without load all results at once.
It's mandatory for query that returns many many records...

In the previus versione of odbc, I use the db.queryResult function that return a delegate with the .fetch method...
Something similira to this should be perfect.

Thanks,
Alessio

[2019-10-06 02:00] RealJavascriptKid commented on #19
Is there any development on this? In our project we are forced to use 1.4.6 because of number of issues that arise due to this.

[2019-10-15 10:05] luisbraganca commented on #34
I just faced exactly the same error.
Surprisingly, the machine where this error occurs has a similar Node.JS version as @dushyantbangal  (8.11.3). When installing on my machine (with Node.JS 10.16.3), the same project, the installation runs successfully.

[2019-10-15 12:40] luisbraganca commented on #34
UPDATE: I just instaled the latest `8.X.X` version on my machine and the error appeared.
So I'm assuming that at the moment the only workaround is to use a more recent version of nodejs?

[2019-10-15 12:57] luisbraganca commented on #34
UPDATE: `node-odbc@2.0.0-4` works with Node.JS `v8.X.X`

[2019-10-17 16:40] jram930 opened #42 "Losing precision of decimal types"
If I execute a query where I cast a value to a decimal type with precision specified, like CAST something AS DECIMAL(18,2), it loses the specified precision and just casts it to DECIMAL (with no precision specified).

[2019-10-18 09:44] dushyantbangal commented on #34
@markdirish I ended up using the [mssql](https://www.npmjs.com/package/mssql) package. Though I will try out the procedure you have given when I can.
@luisbraganca thanks for the workarounds. Should be helpful for others.

[2019-10-21 12:09] stephan-wolf-ais commented on #34
#ifdef NAPI_EXPERIMENTAL was changed to #if (NAPI_VERSION > 2147483646)

I think NAPI_VERSION should be set to -1 in defines, right?

[2019-10-23 09:54] irgijs opened #43 "Error messages too generic"
Hi there,

When executing a query which results in a database error (e.g. if there is something wrong with the syntax of the query), the odbc package does throw an exception as expected. The exception does contain a very generic error message however.

Example:

[code]

I expect the abovementioned code to throw this error message:
`Invalid object name 'nonexistingtable'.`

Yet, node-odbc throws th

[2019-10-23 10:31] markdirish commented on #43
Hello!

There should be a property on the error object with the name 'odbcErrors'. This is an array that returns all of the results from calling`SQLGetDiagRec` and each entry in the array includes an error message, the SQL code, and the SQL state.

Even this solution isn't perfect, and I'm open to suggestions. The 1.x version would make the main error the first result from getting to ODBC errors a

[2019-10-23 11:19] irgijs commented on #43
Hi Mark,

Thanks for you quick response! Retrieving these errors from the 'odbcErrors' seems okay for now, but it is not set on the error object.

The error object only contains the `stack` and `message` properties.  Getting the `odbcErrors` results in undefined:

[code]

[2019-10-23 13:02] irgijs commented on #42
I can confirm. Executing this query:

`select cast( '10.22'      as numeric(4,2)   )  numeric`

results in this javascript value

`10.2`

[2019-10-23 14:45] jram930 commented on #42
Can this get fixed ASAP? This is causing some pretty serious issues for my team.

[2019-10-24 14:01] mfournier91 commented on #42
This is affecting me, as well.

[2019-10-24 15:04] markdirish commented on #42
I can look into this tomorrow (on vacation currently), I'm not sure why it would default to ONE digit but I can dig through the code, hopefully an easy fix.

[2019-10-24 16:01] jram930 commented on #42
Thanks @markdirish, appreciate it . Would be awesome if there is an easy fix.

[2019-10-27 14:45] markdirish commented on #42
At conferences abroad all week, but I have replicated it on my own driver and DBMS. I will continue to work on it as I have time

[2019-10-27 15:02] markdirish commented on #42
Identified the issue.

When binding `SQL_REAL`, `SQL_DECIMAL`, and `SQL_NUMERIC`, it binds to a SQL_C_CHAR that is null terminated. So I added +1 to the column size. But unfortunately, I didn't account for space for the decimal point, so `select cast( '10.22' as numeric(4,2) ) numeric` was creating a buffer of size 5, when it should be 6 (4 numbers, 1 decimal, and 1 null-terminator).

I am going t

[2019-10-27 16:29] jram930 commented on #42
Awesome. Thanks for the fast turn around. Once it's pushed we'll plan to upgrade.

[2019-10-27 20:21] markdirish commented on #42
2.2.2 should now be available. Let me know if that fixes the issue you are seeing!

[2019-10-30 16:24] jram930 commented on #42
Our node server is running on centos 7 and we are querying Cloudera Impala. We were on node 8, but I upgraded us to node 11 to try to use 2.2.2 since it seemed like 2.2.2 wasn't supported by node 8.

[2019-11-01 16:47] abmusse opened #45 "Add Prebuilt binaries"
It would be awesome if we had pre-built binaries instead of building from source each time.

[2019-11-02 00:43] abmusse commented on #45
We could use some CI like Jenkins or TravisCI. Also run tests to confirm build was ***really*** successful.

[2019-11-07 08:57] stephan-wolf-ais commented on #34
Correction from ym side: You need at least Nodejs 10 to get BigInt support

[2019-11-07 19:13] semasdev opened #46 "German letters (ä,ö,ü) not displayed correctly"
These letters are displayed as '�', queried from a IBM DB2 database with ccsid1141 encoding.

[2019-11-07 20:43] markdirish commented on #46
Could you clarify a little? What part of the system is in CCSID 1141? The entire system, the database table, or the column?

Perhaps you could send the results of a `DSPFFD` and `DSPFD` for the table/column in question.

[2019-11-08 20:05] mamorneau commented on #46
Hi Mark,

I'm having the exact same problem.  I'm trying to make a simple node based on odbc.js.  It works but I can't query any database, table or field that contains an accented character (like é, è, à, ô, etc).  Any foreign character is converted to garbage when the query string is passed to the script or when the script returns a string.
![screenshot](https://user-images.githubusercontent.com/

[2019-11-08 21:01] markdirish commented on #46
There are a lot of different technologies that the data flows through to call and then receive data from the database. I think the most interoperable solution for getting data out is to make sure your connection string includes the `CCSID=1208` keyword, or your DSN contains `CCSID = 1208`. This will set the CCSID for the calls to UTF-8, which will be able to decode the special characters. Otherwis

[2019-11-10 19:39] dot3x3 commented on #46
Setting the CCSID to 1208 solved my problem, thank you very much!

[2019-11-11 16:21] mamorneau commented on #46
Hi Mark,

I'm afraid I still your help.  In my case CCSID=1208 didn't worked.  I tried it in the connection string and also in ODBC.INI and ODBCINIST.INI without success.

Please note that our database is a Pervasive (now Actian) PSQL database.  We tried CCSID=1252 since this is how the database is configured (see below)

![Sans titre](https://user-images.githubusercontent.com/57542930/68599914-7a

[2019-11-11 16:36] markdirish commented on #46
@mamorneau

The CCSID keyword is unique to the IBM i ODBC connector, so it would make sense that it wouldn't work for your Actian PSQL ODBC driver. So get rid of that line in your ODBCINIT.INI and ODBC.INI, it won't help you.

I think this Actian ODBC guide might help you out, especially starting at page 24: https://communities.actian.com/servlet/fileField?entityId=ka3f3000000PT3QAAW&field=Attachm

[2019-11-12 15:04] mamorneau commented on #46
Hi Mark,

Our connection string was not right:  DSN=DEVTABLES_ODBC;DATABASE=DEVTABLES
DATABASE is not even a parameter for the PSQL driver.  I guess it worked because the driver was scanning ALL the tables instead of just DEVTABLES.  We have read the manual and tried the following connection string:

DSN=DEVTABLES_ODBC;ServerName=data02.1583;PvTranslate=auto;ArrayFetchOn=1;ArrayBufferSize=8;Transp

[2019-11-13 00:27] mamorneau commented on #46
Hi Mark,

Interestingly, Excel generate this connection String:

DSN=DEVTABLES_ODBC;ServerName=data02.1583;PvTranslate=auto;ArrayFetchOn=1;ArrayBufferSize=8;TransportHint=TCP:SPX;DBQ=DEVTABLES;ClientVersion=11.31.070.000;CodePageConvert=1252;PvClientEncoding=CP1252;PvServerEncoding=CP1252;AutoDoubleQuote=0;

However, those parameters : ClientVersion=11.31.070.000;CodePageConvert=1252;PvClientEncod

[2019-11-18 22:03] alilland opened #47 "Failing to establish a connection to a 32 bit driver"
OS - Windows 10, Powershell
DB - Actian SQL

I'm getting an error message from the ODBC Driver manager indicating that the `node-odbc` driver is attempting to make connections using 64 bit ODBC. Unfortunately the database driver for my database only supports 32 bit.

I did attempt running powershell and cmd as 32 bit but was still unsuccessful

Are there any examples for connecting to 32 bit?

[co

[2019-11-19 01:29] markdirish commented on #47
And you are sure your DSN is defined in the 32-bit ODBC Data Sources program (and not the 64-bit one)?

From reading, it also seems that the entire application stack needs to be in 32-bit, so are you running a 32-bit Node.js process as well? I don't know if there is anything inherent in the `odbc` package that is 64-bit, but if you confirm that none of the above issues are causing your problem, I

[2019-11-19 19:19] jram930 commented on #42
Hi @markdirish, figure anything out with this one so far?

[2019-11-20 00:38] alilland commented on #47
@markdirish it looks like I was calling `node-odbc` with a 64 bit node stack, I downgraded to 32 bit and was able to successfully establish a connection. It looks like I have a new issue, but I will go ahead and open that up under a different thread. thanks!

[2019-11-20 00:38] #47 closed

[2019-11-20 01:03] alilland opened #48 "Database results failing to parse correctly"
It looks like I am able to successfully execute queries, however, the results are coming back really funky. I have toyed a lot with the SQL statement, and have rewritten the entire query a few times using nested callbacks, and `connection.query(...)` syntax as well but it doesn't seem to change the results any.

[code]

Console Output Results:
[code]

Below is a screenshot of the same SQL query us

[2019-11-26 08:53] Myriad-Dreamin commented on #34
good, thank you. so a hacked way to solve this problem by just comment out these codes..

[2019-11-27 14:46] maingi4 commented on #7
Hey @markdirish,

Thanks for the great Lib. I had been using this for quite a while without issues running on node 8.x on both windows (development) and docker in Linux for quite a while.

We recently upgraded to `nodeJS 12.3` and I used your `2.2.2` release which is the latest right now. In windows the library runs just fine no matter what query I throw at it, however in Linux (docker) .. it thro

[2019-11-27 15:25] maingi4 commented on #7
@markdirish after some more digging.. the fault seems to arise at this statement at `line#720` in `odbc_connection.cpp` c++ file:

[code]

`P.S.` Digging = adding lots of print statements :)

[2019-11-30 02:42] markdirish commented on #42
@jram930 ,

Making this my current priority. Just wondering what the underlying datatype of the field you are trying to query is? I will try to run this on my RHEL machine against Cloudera Impala. What is the underlying data type that you are trying to cast as a decimal? It might help me narrow down the issue.

[2019-12-04 19:40] philippefutureboy commented on #41
I support this feature too :) 👍

[2019-12-07 05:32] Myriad-Dreamin commented on #42
there might be a wrong expression at https://github.com/markdirish/node-odbc/blob/7835d28f4b4db6928127f9d8a363f97a3cce10a3/src/odbc.cpp#L545
[code]
here `(int)1.1 == 1` will be always true, so then bug will also occurs when inserting an decimal
@markdirish

[2019-12-08 08:24] dezsiszabi opened #50 "callProcedure crashes with Sybase ASE"
**OS**: Ubuntu 18.04.3 LTS
**unixODBC**: 2.3.4
**node-odbc**: 2.2.2
**Node**: 10.17.0
**Sybase ASE**: 16.0 SP03 (Express Edition is available to download for free, so you can test)

Test program:
[code]

Produces a segfault:
[code]

Stacktrace:
[code]

The offending line is in `odbc.h`, line `163`:
[code]

When adding some print statements in `odbc.h` and recompiling the code it seems that `numPar

[2019-12-08 22:49] dezsiszabi commented on #50
Recompiling with `DEBUG` defined so I get all the `DEBUG_PRINTF` statements:

[code]

It seems that the `CallProcedureAsyncWorker` fails on the following condition:

`if (data->bindValueCount != (SQLSMALLINT)data->storedRows.size())`

The `bindValueCount` will be `1`, but the `storedRows` contains `2` rows. This further down the line causes the crash in the cleanup code when `QueryData` is being c

[2019-12-09 14:34] MrTeapot commented on #43
Hey!

I think the issue is in Statement.js.
[code]
Should be:

[code]

[2019-12-09 17:11] lburkamper opened #51 "node-gyp compile failure during install"
Receiving the error below while attempting to install on IBM i. Also tried using node v10 instead of node v12, similar error with dependency on odbc.o.d.raw. What am I missing? unixodbc and unixodbc-devel are installed (2.3.4-3), i access ODBC driver is installed, and ‘Development tools’ are installed.

gmake: Entering directory '/seneca/odbctest/node_modules/odbc/build'
CXX(target) Release/obj.ta

[2019-12-09 22:47] dknapp47 opened #52 "Pool maxSize documented but not implemented"
First of all - great package :). This has worked nicely to connect to an iSeries database.

The maxSize property of the pool configuration is documented but does not appear to be implemented. It appears that new connections will be opened with no limits. We would love to have the maxSize property implemented where query would wait until a free connection is available. Short of that, it would proba

[2019-12-09 23:36] mamorneau commented on #46
Hi Mark,

For reference, please note that we solved this today.  It was fairly simple after all.  Our database uses CP1252.  Same thing for the client and the server.  We were puzzled for quite a while since to us there was no reason for this not to work out of the box.  Moreover, "é" is the same hex code in quite a lot of code pages, including extended ASCII.  However, when trying an SQL INSERT I

[2019-12-11 07:52] lburkamper commented on #51
Can anyone tell me what is supposed to provide the odbc.o.d.raw file that can't be found? A prior error identified that 5770SS1 option 13 System Openness Includes was missing, so that was recently installed from V7R3 release media. Could there be a problem because option 13 was installed after several TRs/CUM PTFs, and there were fixes to SOI that now need to be reapplied? Grasping at straws.

Not

[2019-12-11 14:34] markdirish commented on #51
Hi LuAnn,

Good to hear from you, just wish it was under better circumstances! I meant to look into this last night, but there was no internet at my house for some reason...

Taking a look at this now

[2019-12-11 18:07] markdirish commented on #51
Ok! Could you run:
[code]
And see what it outputs? If it gives 8.25-3, you will need to run:
[code]
And make sure that it lists version at 8.25-2. Then hit `y`.

I ran into this issue on one of my systems but not the other. It looks like we shipped a less-than-happy version of coreutils that is breaking random things in random places... anyways, it was breaking `touch`, which is supposed to create

[2019-12-11 18:21] lburkamper commented on #51
Hi Mark - yes, it is 8.25-3. However when I try to downgrade I get the message: "Only Upgrade available on package: coreutils-gnu-8.25-4.ppc64   Nothing to do".

[2019-12-11 18:24] markdirish commented on #51
ftp://public.dhe.ibm.com/software/ibmi/products/pase/rpms/repo/ppc64/

The repo above show we are shipping `-2` and `-4`

Maybe try running:
[code]
before running the downgrade command

[2019-12-11 18:26] lburkamper commented on #51
The message is now "No package coreutils-gnu-8.25-2 available"?

[2019-12-11 18:30] lburkamper commented on #51
Looking at the repo, the versions are labeled with ibmi7.1 and ibmi7.2. Is my 7.3 server not able to see 8.52-2 because it is ibmi7.1 or does that not matter.

[2019-12-11 18:47] markdirish commented on #51
The metadata in our repo wasn't synced correctly. In 10-15 minutes, it should be back up and ready for a
[code]

[2019-12-11 18:49] lburkamper commented on #51
OK I'll check in a while and try again and let you know. Thanks.

[2019-12-11 19:36] lburkamper commented on #51
That worked! Thanks so much Mark, this issue is now closed.

[2019-12-11 19:36] #51 closed

[2019-12-13 09:39] smiley159 opened #53 "Working with DBF file"
I have a DBF file that contain "thai" character encoded with TIS-620. I am currently able to read the file but the thai characters were not decoded correctly (� got this) . Can anyone please guide me on how to fix this. Thank you!

[2019-12-13 12:25] MrTeapot opened #54 "Error: `gmake` failed with exit code: 2"
Hey!

Gettings this error when installing on IBM I:

[code]

Does anyone know what could be wrong?

[2019-12-13 13:20] MrTeapot commented on #54
Turns out I was missing libstdcplusplus-devel
Installed it with yum install libstdcplusplus-devel

[2019-12-13 13:20] #54 closed

[2019-12-13 14:20] worksofliam commented on #53
@smiley159 this is a known issue and I think this is happening at an ODBC level and is not related to node-odbc.

I am opening a PMR with IBM sometime soon.

[2019-12-18 18:29] otang opened #55 "Opaque Error Messages"
Hello. The error messages from ODBC are quite uninformative. SQL syntax errors are very vague and don't describe where the error occurred or hint to what may be the problem.

### Example error
[code]

How can we access more information about the errors?

[2019-12-18 18:34] markdirish commented on #55
Hi @otang,

If the issue originated on the database (or ever in the ODBC connection manager or driver), there should be an `odbcErrors` array on the Error object. Each object on this array should contain:

* `message`
* `code`
* `state`

as returned from the ODBC function `SQLGetDiagRec`. If there isn't an odbcErrors property on the error, then the error likely originated form some JavaScript / C+

[2019-12-18 18:46] otang commented on #55
@markdirish thanks, we will try that! Another thing we noticed is many segfaults, seemingly caused also by malformed queries. Is this something you're aware of and is there a better solution for avoiding them?

[2019-12-18 21:16] otang commented on #55
@markdirish yea that property, `odbcErrors` doesn't seem to include anything meaningful. Does the v1 release give easier access to errors?

[2019-12-18 22:12] markdirish commented on #55
v1 gets errors through the same ODBC functions and in the same situtations, it just places the first ODBC error it encounters as the main "Error" and any other ODBC errors as sub errors. So in essence they _should_ be the same.

Are you seeing anything in odbcErrors at all? If there is any information there, that is the only information that is returned from your driver or DBMS for the given error

[2019-12-20 17:19] snotmare opened #56 "Add typescript support"
Please add a @types/odbc package to provide typescript support.

[2019-12-23 22:02] snotmare opened #57 "Auto generated ids"
Hello!

We are attempting to switch away from the jdbc and idb connectors in favor of odbc to connect to a DB2 database. I'm looking for a way to get the id value from an auto generated identity column after I execute an insert statement. Is there a way to do that?

For example, one of our tables has an identify column defined like this...
`RECORD_ID FOR COLUMN RCID       DECIMAL(9, 0) GENERATED B

[2019-12-23 22:39] snotmare opened #58 "Calling SP with wrong parameters causes the server to crash"
I have a stored procedure that requires 9 parameters. I passed in 8. The call hung for about 1 second and crashed...
[nodemon] app crashed - waiting for file changes before starting...

Can this return an error instead?

[2019-12-24 02:14] markdirish commented on #57
Hi @snotmare ,

I would like to know more about the queries you are running on `idb-connector` and `odbc`. I have recreated this table and I am trying to get the same output but not having success. When I run with `odbc`, I get the result object as you do, but when I run with `idb-connector`, I only get `null` back form INSERT statements.

Either way, I'm not sure there is an 'ODBC way' to get an

[2019-12-24 02:18] markdirish commented on #58
Hi @snotmare ,

It _should_ return an error as written currently.

https://github.com/markdirish/node-odbc/blob/ca5c37727522ea309f90327d59b0eb2938da8969/src/odbc_connection.cpp#L998

On this line, it checks the number of parameters passed in against the number of parameters that the procedure takes (retrieved from `SQLProcedureColumns`).

Can you let me know the procedure signature (what are the d

[2019-12-24 14:22] snotmare commented on #57
Ok, I owe you an apology. Turns out we are running this sql statement immediately following an insert...
`select identity_val_local() as id from sysibm.sysdummy1`

This gives me a result with the id I just generated. This issue can be closed.

[2019-12-24 14:22] #57 closed

[2019-12-24 14:54] snotmare commented on #58
Sure! This is the definition of the SP I'm trying to call...
[code]

This call works...
`let result = await this.connection.callProcedure(null, null, 'GPR5016SP', ['RE', 'Y', '', 'GPACMID', '', '', '', 0, 0]);`

This call does not (I removed the last parameter)...
`let result = await this.connection.callProcedure(null, null, 'GPR5016SP', ['RE', 'Y', '', 'GPACMID', '', '', '', 0]);`

I asked our sy

[2019-12-26 09:13] sahaphon opened #59 "Install odbc error"
Hello,
I am trying to install the package but npm i odbc fail with the following message:
![Error_ODBC](https://user-images.githubusercontent.com/10412523/71469045-8da61300-27fa-11ea-9bd9-5301cc06cc73.jpg)

I am on Windows 10
Thanks in advance for your time,
Best regards.

[2019-12-30 16:47] grugknuckle commented on #52
After looking at this [file](https://github.com/markdirish/node-odbc/blob/ca5c37727522ea309f90327d59b0eb2938da8969/lib/Pool.js#L211), it seems like the `increasePoolSize` method (on line 211), should first check that
[code]
or something, before opening an new connection.

[2020-01-03 08:25] Patcher56 commented on #59
I think this is unrelated to node-odbc, but a compiling issue in windows.
You may look at this stackoverflow thread: https://stackoverflow.com/q/33183161/3290257

[2020-01-03 20:15] #55 closed

[2020-01-10 20:47] snotmare opened #62 "Error binding parameters on stored procedure call"
Hello! I am running into an error and am having trouble getting enough information to troubleshoot it...
`Error: [odbc] Error binding parameters to the procedure`

I am running this on an IBMi with the following driver...
[code]

My javascript code looks like this...
`let result = await connection.callProcedure(null, null, 'GPR5016SP', ['RE', 'Y', '', 'GPACMID', '', '', '', 0, 0]);`

Our system is

[2020-01-15 16:31] kadler commented on #62
@markdirish can you look at this one?

[2020-01-15 19:31] markdirish commented on #62
Hey @snotmare,

Sorry for the delayed response, I can take a look at this tomorrow. I've noticed a number of issues with stored procedures so hopefully we can get this working a little smoother.

[2020-01-15 20:07] snotmare commented on #62
No problem, thank you for your time! We currently use https://www.npmjs.com/package/jdbc for our PCs and https://www.npmjs.com/package/idb on power. We'd love to be able to make this switch!!

[2020-01-17 16:04] MrTeapot commented on #43
@markdirish Hey, what do you think about this? Is it a fix?

[2020-01-17 19:52] markdirish commented on #62
Just a little update, I have recreated the issue with a blank stored procedure (SQL, not External) that has the same parameter signature. Works on my Linux machine, doesn't work on my IBM i. I suspect that means it is a driver issue and not an issue with this package, but I will continue digging to see what I can turn up!

[2020-01-20 13:55] markdirish commented on #62
It appears that the driver on IBM i is not returning the proper information in calls to `SQLProcedureColumns`:

IBM i:
[code]

Compared to Linux, which returns values for InputOutputType, ParameterType, ColumnSize, and DecimalDigits:
[code]

Next step is to take a look at the IBM i ODBC driver (not open source) to see why this is the case. I will update when I have identified the problem and when

[2020-01-23 20:12] am2222 opened #63 ""Communication link failure" state:"08S01" on a connection pool"
Hi,
I have question about using `connectionpool` on my server.
I have defined a global variable named connection pool and when I want to query database I use it to query. that works fine but there is a problem that I think after a while being idle the server closes the connections and I face this error.` "Communication link failure" state:"08S01"` which the cause is explained here.
https://www.ibm

[2020-01-26 23:46] worksofliam commented on #62
It looks like `Pool.query` also does not return the output parameters from the stored procedure in the `parameters` property. I am assuming this issue is related.

[2020-01-28 08:44] irzan2010 commented on #59
I try to follow this [answer ](https://stackoverflow.com/a/50342491)and it's worked.

All I do by far is this:
1. Install MS Visual C++ on your PC.
2. Create a new simple C++ console application, build it and make sure it can built successfully.
3. Set npm config to set your Visual Studio version, here I user Visual Studio Community 2017:
`npm config set msvs_version 2017 --global`
4. Try to run `

[2020-01-30 14:27] ugate opened #64 "Allow named bind parameters"
Feature for named bind parameters:

[code]
__parameters__: An array of values or an object with named properties to bind to the SQL statement previously prepared. All parameters will be input parameters. When passing an array, the number of values passed in the array must match the number of parameters to bind to in the prepared statement. When passing an object each property name should match a b

[2020-02-02 20:35] worksofliam commented on #63
I am getting this issue too and it's urgent. Even with connectionTimeout as `0`, after some idle time it seems to disconnect the connections. I went ahead and built node-odbc with `DEBUG` mode so we could see the log. You can also see a log of the `pool` object before the debug output.

[code]

There is a **long** pause here before this error comes out:

[code]

[2020-02-03 02:36] am2222 commented on #63
@worksofliam so is it a kind of bug or we need to do some special kind of configurations?

[2020-02-03 02:44] worksofliam commented on #63
Not sure. Waiting for a maintainer to suggest something :)

[2020-02-03 03:34] richardschoen commented on #63
@worksofliam Did you try changing the TCP keepalive settings with CHGTCPA as I suggested ?

[2020-02-03 14:03] markdirish commented on #63
https://github.com/markdirish/node-odbc/blob/ca5c37727522ea309f90327d59b0eb2938da8969/src/odbc.cpp#L291

On line 291 of `src/odbc.cpp`, if you change the truth check to `if (options->connectionTimeout >= 0) {`, does that solve the issue? Reading the ODBC documentation, it seems that 0 should be the default, and not setting it should result in the same behaviour as 0, but I could be mistaken.

If t

[2020-02-03 15:16] am2222 commented on #63
@markdirish so we just need to set ODBC timeout in driver setting?

[2020-02-03 15:36] richardschoen commented on #63
@am2222 The ODBC timeout may work for the client side, but I don't know if the ODBC connections in a connection pool will send keep-alives which means the connections to the DB2 server jobs for each connection can still die even though they may stay active on the i. If you're running a remote server like I believe Liam is, I think the IBMi TCP keep-alive setting (on CHGTCPA) will be very important

[2020-02-04 16:01] worksofliam commented on #63
@markdirish I am going to make that change, but where is `SQL_ATTR_CONNECTION_TIMEOUT ` coming from? I can't find it in [the IBM i docs](https://www.ibm.com/support/knowledgecenter/ssw_ibm_i_74/cli/rzadpfnsconx.htm) for `SQLSetConnectAttr` - unless it's from somewhere else?

[2020-02-04 16:05] markdirish commented on #63
These are the Db2 CLI docs, which is 90-95% the same as ODBC, but for some reason don't seem to have this timeout...

The option can be found at the ODBC docs (which are annoyingly merged with SQL Server docs): https://docs.microsoft.com/en-us/sql/odbc/reference/syntax/sqlsetconnectattr-function?view=sql-server-ver15

[2020-02-04 16:07] markdirish commented on #63
Any changes should just have to be done in JavaScript: Connections have a .connected property that calls SQLGetConnectAttr with the SQL_ATTR_CONNECTION_DEAD option. Returns true if SQL_ATTR_CONNECTION_DEAD returns false (since it makes much more sense for .connected to return true if its... connected). I imagine the code would just check:

[code]

[2020-02-05 18:17] worksofliam commented on #63
To me, it looks like `connection.connected` is actually just hanging for an indefinite amount of time if the connection does not exist.

![image](https://user-images.githubusercontent.com/3708366/73870195-a225f400-4819-11ea-8e82-190f60483b65.png)

It's been hanging for 10 minutes now.

![image](https://user-images.githubusercontent.com/3708366/73870203-a5b97b00-4819-11ea-902a-91a2bf19d96f.png)

So

[2020-02-06 14:57] holterandreasb commented on #62
In case your node.js application is already running on IBM i, I would recommend to use the official npm packages from IBM. In your case you should take a look at idb-connector or idb-pconnector:
https://www.npmjs.com/package/idb-connector
https://www.npmjs.com/package/idb-pconnector

We're using the idb-pconnector package and experience no trouble at all calling stored procedures on our IBM i syst

[2020-02-06 15:03] markdirish commented on #63
@worksofliam

That sort of makes sense, but I thought it would be smart enough to work around it.

`SQL_ATTR_CONNECTION_DEAD`, according to the ODBC spec, supposed to be a quick check of the last state of the connection. So for most drivers, it doesn't even check the connection, it just checks if you closed it. The previous maintainers of our ODBC driver decided to make ours not follow that, and i

[2020-02-06 17:26] snotmare commented on #62
Thanks @holterandreasb , that's actually what we use today. It has its own set of issues, so we are hoping to switch to odbc.

[2020-02-11 16:40] AlessioQ commented on #41
Hi,
any news about stream (or cursor) capabilities in node-odbc 2?
I need for this feature in order to migrate to new version.

Thanks for all great work done!
Alessio

[2020-02-17 16:51] am2222 commented on #63
@markdirish Hi,
I am using netezza odbc driver, it works fine but I still have this issue with connection pool, IS there any way to check if connections are dead renew pool?

[2020-02-19 19:17] markdirish commented on #62
@kadler and I have tracked down the issue. The data on the procedure columns (things like in/out type, the data type, the number of decimal digits) are stored internally as a `SQLSMALLINT`. In the logic for retrieving them, it tells ODBC to target a `SQL_C_LONG` (4 bytes), then casts it back to `SQLSMALLINT` (2 bytes) instead of `SQLINTEGER`. This is wrong but works fine on little-endian systems (

[2020-02-20 14:14] snotmare commented on #62
Sounds great @markdirish , thanks!

[2020-02-20 18:01] markdirish commented on #62
Ok @snotmare, it should be pushed up now. The release number is 2.3.0-beta.0. To download it, you will have to tell npm to install the `beta` tag (It defaults to `latest`):

[code]

Just testing on my 7.3 box, and seems to work much better!

[2020-02-25 18:25] markdirish opened #65 "Create pre-built binaries for commonly used systems"
Currently, `odbc` will install from the source files when downloaded from NPM. This is prone to breaking and requires special flags/definitions on each system, and often requires users to have special software installed (e.g. Visual Studio compilers on Windows) (see #34, #59).

Instead, should use a system like (`node-pre-gyp`)[https://www.npmjs.com/package/node-pre-gyp] to download and install pr

[2020-02-25 19:08] markdirish commented on #56
Is this how packages still provide information about function signatures to TypeScript? I thought that the new way was to create a `.d.ts` file that has definitions inside of it?

Willing to work on this though, seems like a good enhancement!

[2020-02-25 19:56] snotmare commented on #56
Hello Mark! Yes, either way would be great. I believe you are correct that having the types inside the odbc package would be the better way to go. However, you could go with a new @types/odbc package in npm if you didn't want to modify the existing package.

We've built our entire code base in typescript and love it. It may not be too hard to convert your code to ts. https://www.typescriptlang.org

[2020-02-28 16:35] jasonwardell commented on #30
I know this is a couple months old now, but I can confirm this is still an issue in 2.2.2.

[2020-02-28 16:43] jasonwardell opened #66 "odbcErrors 30126, 30207 on Select when nothing found"
Based on parameters passed if there is data returned from the database it succeeds but if we pass parameters where there is no data it errors with odbcErrror codes 30126, 30207. The error message passed back is very vague and generic "Error executing the statement".

Example Query:
SELECT *
FROM tableName
WHERE PART = ?;

If the part is found it returns data successfully and there are no issues. I

[2020-03-04 14:41] snotmare commented on #62
@markdirish I was able to try the beta version on both my pc and our power i. I can call procedures now, woo! Unfortunately, some SQL statements no longer work :/.

I'm not sure if you want this to be in a separate bug now or maybe this isn't even a bug in your 2.3.0 release. It appears that binding parameters in where clauses no longer work. I can run an insert statement just fine...
`insert into

[2020-03-09 18:34] jtsmedley opened #67 "Call to .columns with await returns Error"
Error: columns: fifth argument must be a function

Sounds like a leftover check from when it was callback style

[2020-03-11 22:03] jtsmedley commented on #48
Same bug here.  This is scoped to the Sage Timberline driver.

[2020-03-11 22:37] jtsmedley commented on #67
Closing and referencing issue #48 instead.  This appears scoped to the Timberline driver.

[2020-03-11 22:37] #67 closed

[2020-03-16 20:08] cegonzalv opened #68 "Electron application crashes when trying to query a table starting with '@' in SQL Server"
I'm using this library to connect to an SQL Server database which has some tables with an '@' prefix and some that don't. On the ones that don't everything works fine, but when the app tries to query a table that has the prefix, my app simply crashes completely and quits, without any error message.

This is the code I'm using:

[code]

When I put debug = true in bindings.gyp I get the following:

[2020-03-17 13:45] macadiazcolomes commented on #50
Hi. I have the same problem.
One workaround is to execute the procedure with a prepared statement or a direct query, but I need some info from output parameters!.

[2020-03-18 00:35] jocund opened #69 "Node-Odbc on linux with Azure Always encrypted doesn't work for insert sql"
**Environment:** Version of node-odbc is v6.13.4. It came with direct "npm install odbc". Also, node version is 10.19 running on linux setup.

- Insert Query looks like below (I'm also including select query that works for Always encrypted columns). Note: "Always encrypted on" using Azure key vault is the way the DB columns are encrypted.

var db = require("odbc");
var connectionString = "Driver={

[2020-03-20 16:09] ThePrez commented on #62
@snotmare , what commitment control and isolation levels are you using? Did you explicitly commit after the insert?

[2020-03-20 16:28] snotmare commented on #62
@ThePrez , we do not specify commitment control or do any explicit commits in our code. I confirmed with our system admin that he is not setting anything on his end either. It must be using the default, though I'm not sure what that is.

From node, our connection string looks like this...
`Driver=IBM i Access ODBC Driver; Naming=1; System=[redacted]; Uid=[redacted]; Pwd=[redacted]`

...and this fr

[2020-03-20 19:13] kadler commented on #62
@snotmare FYI, you should use "IBM i Access ODBC Driver" for future proofing. The "iSeries Access ODBC Driver" is only registered on Windows and will be removed in the future.

This does not affect the issue you're having at all (they're just aliases of the same driver), but it will help future proof your application.

[2020-03-20 19:20] kadler commented on #69
The current version of node-odbc is 2.2.2. How do you have 6.3.4?

[2020-03-31 15:04] markdirish opened #73 "Handle drivers that return incorrect ColumnSize for SQL_TYPE_TIME and SQL_TYPE_DATE"
Per https://github.com/markdirish/node-odbc/pull/60, some drivers (e.g. 4D ODBC driver) do not return the correct ColumnSize for certain data types, particularly SQL_TYPE_TIME and SQL_TYPE_DATE. These data types should return 10 and at least 8 respectively, and so the program should do a little sanity checking to make sure that the values returned are within acceptable bounds. If not, it should ov

[2020-04-11 03:47] jdbi336534 opened #74 "much slower than version 1.4.6"
I am using version 2.2.2, I found that this version is much slower than version 1.4.6, especially when executing multiple sql in a transaction, I do not know whether it is really slow or I use it incorrectly。

[2020-04-11 03:53] jdbi336534 commented on #74
Method 1: First initialize the connection pool, I will execute pool.connection () before each transaction;
Method 2: First initialize the connection pool and pool.connection (), each transaction uses the connection generated by pool.connection
As a result, I found that method two is faster than method one, but it is still very slow to execute multiple sql in a transaction. How can I optimize it?

[2020-04-13 13:54] jdbi336534 commented on #74
I was wrong, my database network problem

[2020-04-15 12:42] buro1983 opened #75 "Batch insert support"
I am trying to insert multiple records in a single insert statement. I am musing prepare statement but
I am not able to find any way to do the batch insertion using this library. Can you anyone please point me out how do I achieve the batch insertion using node odbc library.

[2020-04-15 13:48] jram930 commented on #42
@markdirish Sorry I haven't checked back in here in a long time. This is still an issue for us and we're on the latest version. Affecting many of our users. What information do you need from me?

[2020-04-15 14:25] markdirish commented on #42
I've redone some of the logic around type binding for 2.3.0-beta, could you download that version and see if it is still an issue? You should be able to run `npm install odbc@beta` to get that version.

Then I would go into the `odbc/binding.gyp` and change the `defines` to:
[code]

then rebuild the binary by going to the `node_modules/odbc` directory and running `npm install`. When you run a mini

[2020-04-15 14:35] kadler commented on #42
If I understand the code @Myriad-Dreamin pointed out right, it's trying to check if there are any decimal places in the value:
[code]
but that should be instead:

[code]

Of course, I'm not sure why we're even trying to convert to an int64_t at all if the value in JS is a double, just leave it as a double and let the driver/database convert it for you.

[2020-04-15 14:45] markdirish commented on #42
The issue is that the value comes in as a Napi::Number, and I don't know if it is an integer or a double. There is no Napi function for checking, so there are work-arounds to try and check. See https://github.com/nodejs/node-addon-api/issues/265.

So what I am trying to do in this code is determine what type of number is coming in so I can bind it with the right C type. [This table](https://docs.m

[2020-04-15 14:46] jram930 commented on #42
@markdirish no that didn't work for me. Now if I cast 1234.56789 as a decimal(38,2) I get 0. Am expecting it to be 1234.56

[2020-04-15 14:52] jram930 commented on #42
To reiterate the issue, using this library against an Impala database/table, I created a simple table that stores the value 1234.56789 in the field1 column.

If I query that directly with Cloudera provided tools (Hue), with the following query:
select cast(field1 as decimal(38,2)) from mydb.mytable
I get 1234.56, which is correct

If I query that with this library I get 1234, which is not correct

[2020-04-15 14:58] worksofliam commented on #42
I believe this is also happening with binding parameters.

For example: `select width from items where width = ?`. I bind `20.5` in my app, but I get items where the width is `20`. (Db2 for i)

[2020-04-15 15:07] kadler commented on #42
@worksofliam that confirms what @Myriad-Dreamin was saying

[2020-04-15 15:36] kadler commented on #42
I did not realize that V8 had support for non-double numbers. Either way from the linked thread, they were asking for *32-bit* integer support. Doubles can exactly store all integers up to 53 bits in size, so having a 32-bit int in a 64-bit double is fine. You only run in to problems with 64-bit ints, since while doubles can store values larger and smaller than what a 64-bit int can, any integer u

[2020-04-15 16:06] serininformatica opened #76 "Error installing on IBMi"
**Try to install on IBMi 7.3, i receive this error:**

gmake: Entering directory '/www/nodejs/odbc-test/node_modules/odbc/build'
  CXX(target) Release/obj.target/odbc/src/odbc.o
In file included from /QOpenSys/pkgs/lib/gcc/powerpc-ibm-aix6.1.0.0/6.3.0/include/stdint.h:9:0,
                 from /home/LUCA/.cache/node-gyp/12.16.1/include/node/js_native_api_types.h:8,
                 from /home/LUC

[2020-04-15 16:14] markdirish commented on #42
I think there are two similar but unrelated issues here:

---

1. The original issues that @jram930 posted is likely an issue with `CAST`ing and getting the data type right for the `SQLBindCol` column, so that `SQLFetch` returns the right data and the data is converted correctly to the JavaScript environment. I have tested this issue on Db2 for i again just now, and I get the correct output:

[cod

[2020-04-15 16:16] kadler commented on #76
You'll need to install SS1 option 13 "System Openness Includes"

[2020-04-15 16:18] markdirish commented on #74
Glad that it wasn't the package! In general, this package should be much faster using `SQLBindCol` and `SQLFetch` instead of `SQLGetData`, but there are a few cases where `SQLGetData` is probably faster (large binary/character fields).

[2020-04-15 16:18] #74 closed

[2020-04-15 17:00] markdirish commented on #75
There is a good overview of batch insert available in the ODBC docs: https://docs.microsoft.com/en-us/sql/odbc/reference/develop-app/batches-of-sql-statements?view=sql-server-ver15

If your driver/DBMS allows explicit batches, that might be the best solution. It will only send the statements once, saving some network time.

Other than that, a node `odbc` package way of doing it might be:
[code]
Th

[2020-04-15 20:31] jram930 commented on #42
@markdirish I went to Cloudera's website and found an updated version of their odbc connector. When I upgraded that to the latest version this bug no longer exists for us on version 2.2.2! Thanks for the idea that the problem might lie there. Thanks for looking into it, appreciate it.

[2020-04-15 21:19] #46 closed

[2020-04-16 04:12] jocund commented on #69
Sorry, that was a typo. I'm using 2.2.2. However, the problem stated is correct. Is there a way I can do parametrized submission using node-odbc?

[2020-04-16 04:12] jocund commented on #69
@kadler Please let me know

[2020-04-16 14:10] markdirish commented on #69
`[odbc] Error getting information about parameters` occurs when an error is returned from a loop that calls `SQLDescribeParam` for each parameter passed in.

The native error returned from your driver should be passed on the error object as well (though you might have to download `npm install odbc@beta`, as it was broken for promises before `2.3.0-beta`. You can also rewrite your code to use callb

[2020-04-20 10:55] serininformatica commented on #76
**now i have this error:**
-bash-4.4$ npm install odbc

gmake: Entering directory '/www/nodejs/odbc-test/node_modules/odbc/build'
  CXX(target) Release/obj.target/odbc/src/odbc.o
In file included from ../src/odbc.cpp:19:0:
/www/nodejs/odbc-test/node_modules/node-addon-api/napi.h:5:22: fatal error: functional: No such file or directory
 #include <functional>
                      ^
compilation term

[2020-04-20 15:19] markdirish commented on #76
You will need the standard library headers:

[code]
Sorry, should create a doc for "Every prerequisite you'll need to install node-odbc". This issue was the same: https://github.com/markdirish/node-odbc/issues/54 and the user was able to install and use after getting `libstdcplusplus-devel`, so this should be the last step!

[2020-04-20 16:16] serininformatica commented on #76
**TX!!! Now it works**

[2020-04-20 16:16] #76 closed

[2020-04-22 20:51] sravannerella opened #78 "ODBC failing to connect after build"
Hello all,

I'm building an express REST API with typescript and establishing a connection to Database with the ODBC library.

My application is running fine in the debug mode fetching the data and performing all the operations as requested. But somehow running to the following error, once I made the build: **Data Source Name not found and no default driver specified.**

Could you please help me i

[2020-04-22 20:56] snotmare commented on #75
Not sure if this helps in your case, but there is a nifty SQL trick you can use that will insert multiple rows to the same table. Consider this SQL...

[code]

I free-handed the sql, but it should be pretty close. This will insert 3 rows into a 3 column table. In my example, id is an auto-incrementing identity column. The generated id will be returned in the select (along with any other default va

[2020-04-22 22:26] sravannerella commented on #78
Figured out the issue. I need to update the `/etc/odbc.ini` file rather than user data source in `/home/user/.odbc.ini`.

[2020-04-22 22:26] #78 closed

[2020-04-23 09:43] MrTeapot opened #79 "Issues with ÅÄÖ Swedish characters"
Hey!

I'm running node-odbc (2.3.0-beta.0) against IBMI DB2.
All SQL queries have issues with ÅÄÖ being replaced with �.

After reading #46 I figured it has something to do with CCSID; being the root of all evil.
I therefore added CCSID=278 to my connection string, but to no avail.
After adding CCSID I can't connect at all.
[code]

Where else can I specify the CCSID to get it to work properly?

Th

[2020-04-23 14:01] MrTeapot commented on #79
Hey!

I tried 1208 with connection string, and also a DSN, but it still doesn't work. DSN=MYDSN;Password=MYPASSWORD;CCSID=1208;

When I have CCSID 278 I get this error;

![image](https://user-images.githubusercontent.com/1011679/80107448-5dd60480-857b-11ea-9c4a-a452b040756b.png)

When I use 1208 the Express server crashes with no information. I'll try to debug it.

[2020-04-23 14:18] kadler commented on #79
The CCSID attribute for the ODBC driver doesn't set the job CCSID, it sets the ODBC's _client_ CCSID. This is understandably confusing as CCSIDs are primarily associated with the IBM i itself and are usually EBCDIC. Even when running on IBM i, the driver and Node.js run in PASE, which is an ASCII environment.

For the ODBC driver, you have to set an ASCII or UTF-8 CCSID (unless somehow you have a

[2020-04-23 15:08] MrTeapot commented on #79
I am now using CCSID=1208 in my connection string.
statement.execute(); seems to crash without letting me catch the error.

This is my code:
[code]
[code]
getSession never reaches the catch statement. statement.execute() crashes the node process it seems.

BTW, my table is CCSID 278.

[2020-04-23 15:20] kadler commented on #79
@markdirish I wonder if this is related to SQL_NO_TOTAL or other length issues that are being worked on in the 2.3 branch.

[2020-04-23 15:26] markdirish commented on #79
@MrTeapot can you build with `DEBUG` in `binding.gyp` and then run with CCSID 1208 again, pasting the output here? Will help me see what is going on at a deeper level.

`binding.gyp`:
[code]

[2020-04-23 15:35] markdirish commented on #79
@MrTeapot does CCSID 1208 work with `odbc@latest`, should be version 2.2.3?

[2020-04-23 15:36] MrTeapot commented on #79
Here it it, it aint pretty:
[code]

[2020-04-23 15:48] MrTeapot commented on #79
odbc@latest gave me 2.2.2

I have the same issue with that version.

[2020-04-23 16:12] yuguifly commented on #46
Hello mamorneau,  I would like to ask you a question, we have the same problema that you but the letter “ñ”, we have Pervasive database  and I openend a issue whit this problema [#28](https://github.com/markdirish/node-odbc/issues/28), I tried to do some tests but didn't worked. Could you told us what you you did to fixd the problem?
Thank you so much!

[2020-04-23 16:29] markdirish commented on #79
Aha! Well I have a hunch what the issue is (ignore this technical stuff if you want, its more for me to have something to refresh my memory later):

When converting from C data to a JavaScript string, the package calls:
[code]
The length is gotten from the value returned in the StrLen_or_IndPtr. In the case of character conversions, it returns `SQL_NO_TOTAL`, which has a value of `-4`. So it is tr

[2020-04-23 17:59] markdirish commented on #79
^ My hunch above is right, but you can't just make the change yourself. They are dependent on changes in this PR: https://github.com/markdirish/node-odbc/pull/77. Will work on landing all of this soon.

[2020-04-23 18:33] MrTeapot commented on #79
Great. Thank you! Looking forward to it.

[2020-04-23 20:07] kadler commented on #79
Actually, since the length is a size_t, it gets converted to unsigned, ie. -4 converted to a size_t (on 64-bit) is 0xFFFFFFFFFFFFFFFC or 1.84467440737e+19 (that's 18 exabytes...)

[2020-04-23 20:09] kadler commented on #79
@MrTeapot as a workaround for now, you can set DEBUG=524288 on the connection string or your DSN. This prevents the IBM i Access ODBC driver from returning SQL_NO_TOTAL.

[2020-04-24 06:24] MrTeapot commented on #79
@kadler Adding DEBUG=524288 stopped the crashing and allows ÅÄÖ. But, it adds a weird character at the end of strings that contain ÅÄÖ:
![image](https://user-images.githubusercontent.com/1011679/80180997-43943900-8604-11ea-93d1-3b4197fca638.png)

This is the hex value:
C1A7859340D38199A2A296954040404040404040404040404040404040404040404040404040404040404040404040404040

[2020-04-24 14:15] mamorneau commented on #46
Hi yuguifly.  The Pervasive ODBC driver is quite limited in the fact that it seems impossible to force a specific translation.  The translation mode has to be set to "automatic" but in this case the driver "correctly" detects that the database is using CP1252 and that the client (a node red server running on a pc in our case) is also using CP1252.  However, Node Red uses UTF8 so all the accented c

[2020-04-24 14:19] markdirish commented on #79
I have a PR open that should fix all of this. Try to install from my `2.3.0-fetch-copy` branch:
[code]
Hopefully that branch works, but if not let me know so I can fix it before landing the PR

[2020-04-24 14:32] kadler commented on #79
Yeah, as I mentioned later I had second thoughts this would work right. The problem is the bug in the node-odbc code that uses the indicator as the returned string length, when actually the indicator contains the length of the string _that could be returned_. Turning on the debug flag will cause the calculated length to be returned, but when you have expansion going to UTF-8 this could be bigger t

[2020-04-24 15:06] kadler commented on #46
The Node API only provides functions to create String objects from UTF-8 bytes or UTF-16 bytes, thus node-odbc will always assume the driver returns UTF-8 bytes. On Windows, this is fairly unlikely as almost nobody runs with this beta UTF-8 locale setting.

I suspect we'll need to build in UNICODE mode on Windows to force all the wide APIs. This ensures that we have a consistent UTF-16 encoding fo

[2020-04-24 15:19] MrTeapot commented on #79
It is working! Amazing :D

[2020-04-24 16:48] markdirish commented on #56
@snotmare Would you mind downloading the branch `typescript-.d.ts` and see if it does what you want it to?
[code]
I made a simple odbc TypeScript application and it seemed to give me good suggestions (although functions have multiple definitions so that can be a little much when trying to fill). But it gave me red underlines when using the wrong types and what not.

[2020-04-24 17:14] markdirish commented on #68
[code]
Seems as though the actual query is passing, since `SQLExecDirect` is returning `SQL_SUCCESS` (`0`). Is there additional debug output? After it passes, it looks like it is just binding buffers to the column data for the 32 columns, but this output doesn't have it getting to the calls to `SQLFetch` yet.

[2020-04-24 18:45] markdirish commented on #66
If you could, what Database and ODBC driver are you using? The codes are native codes for your system, but there should be an associated message that gives more information. Looking for ODBC and error 30126, I see an IBM error of `[IBM][System i Access ODBC Driver]Column 3: Character data right truncation. {22001,NativeErr = 30126}[IBM]`, but I don't know why right truncation would be an issue her

[2020-04-24 19:18] snotmare commented on #56
@markdirish Those typings worked for me. It's nice being able to use this with code assist. Can't wait for it to be released!

There may be some cases where it makes sense to use unknown instead of any. It does about the same thing, but allows type checking to continue.
https://www.typescriptlang.org/docs/handbook/release-notes/typescript-3-0.html#new-unknown-top-type

[2020-04-27 01:57] jdbi336534 opened #83 "why there is no version 2.2.2 release on github?"
Hello, why is the version 2.2.2 on npm, but the release on github is 2.1.0? Can you release version 2.2.2 on github?

[2020-04-27 07:56] yuguifly commented on #46
Hello, then are you having the problem when you have received the data, aren't you? Because I have the problem with the query, on the selec, I thought the problem was with the query, I don't know if this will fix my problem.
thank you

[2020-04-27 11:40] nedi-dev commented on #79
The solutions works even for german Umlaute (äöüÄÖÜß)!
You have to install the fixed version:
npm install markdirish/node-odbc#2.3.0-fetch-copy
AND set the ccsid of the client to 1208 in the connection string or in the DSN in .odbc.ini.

Do you have an idea when 2.3.0 will be released?

[2020-04-27 15:21] mamorneau commented on #46
Hi yuguifly.

We had the issue with both sending and receiving.  If the query string contained accented characters the query would simply fail just like in your case.  If the query string had no accented characters then we were receiving a reply from the DB but the accented characters were corrupted.  The Windows UTF8 mode of course solved both issues at the same time.  That being said I think sen

[2020-04-27 19:39] CodeBroJohn opened #84 "Issues using req.body.value in Insert Statement."
I have a value being sent via a post to my route.

The post route include a query like the following:

INSERT INTO test.amessages(STATUS) VALUES(${req.body.value})

When I do this it doesnt work as expected, however if I replace ${req.body.value} with 'text', it works as expected.

Is it possible to pass req.body values to the sql statement with node-odbc?

Before I do the sql statement, I can do

[2020-04-27 20:11] jasonwardell commented on #66
Mark
We are using DB2 for the IBM i and we are using the IBM i Access ODBC Driver. Thank you for the update on the module it does now show us more helpful information that allowed us to debug the problem. The problem was with our view.

[2020-04-27 20:17] markdirish commented on #84
I assume you are using `express` or something similar.

Is the value of `req.body.value` a string? It should work just fine if you are passing a variable in the query, my only thoughts are:

1. If your query is `INSERT INTO test.amessages(STATUS) VALUES(${req.body.value})`, you end up getting `INSERT INTO test.amessages(STATUS) VALUES(text)` when you really want `INSERT INTO test.amessages(STATUS)

[2020-04-27 20:22] markdirish commented on #66
Glad I could help! Closing for now, feel free to reopen if it ends up being an issue on my end.

[2020-04-27 20:22] #66 closed

[2020-04-27 20:37] CodeBroJohn commented on #84
I am indeed using express.

The body of the request looks like the following:
{
    "value": "Test"
}

Given that it is possible that maybe db2 doesnt like the double quotes?

This is how the route looks:

router.post('/',
[
    check('value', 'Value is required!')
        .not()
        .isEmpty(),
],
async (req, res) => {
    const validationErrors = validationResult(req);
    if (!validationErr

[2020-04-27 21:02] CodeBroJohn commented on #84
Hey @markdirish I was able to solve this by moving req.body values to a parameter array and then adding them to the INSERT query as ? in the order they occur in the array. Appreciate your time!

[2020-04-27 21:03] markdirish commented on #84
Nope, that's just JavaScript's way of showing you that's a string. The `"`s aren't really there.

The issue I see in the code is that you are running a query with a plain string wrapped in double quotes `"`:
[code]
In JavaScript, strings (wrapped in either single or double quotes) won't do variable value replacement. So your query will look exactly as you typed it.

What you need is a [template li

[2020-04-27 21:04] markdirish commented on #84
This works because parameters are bound in a different way than simply inserting values, so there is no need to wrap in single quotes

[2020-04-27 21:10] #84 closed

[2020-04-28 13:46] markdirish commented on #43
Yep, this was an error with Promises calling `new Error()`, which was deleting all of the ODBC error information. Fixed in [this PR](https://github.com/markdirish/node-odbc/pull/72), available on 2.3.0 beta branch (coming to a release branch soon!)

[2020-04-28 13:47] #43 closed

[2020-04-29 07:57] yuguifly commented on #46
Hello, I tried to do that,  markdirish told me that but this didn’t worked, I don’t know if i did this well, I put this on the pervasive conennection "DSN= ; encoding=Cp1252; UID=; PWD=;" and I changed on de odbc encoding translation to outomatic too, but doesn’t work. I tried another encoding with the same result.
Also I change the Windows configuration as you have, but it was worse, no query wor

[2020-04-29 15:38] markdirish commented on #56
Hi @snotmare , I updated the branch again. Instead of returning `Array<any>` for results, I extended the Array class and added the properties that exist on results returned from the package. I also extended the `Error` object to add the Array of ODBCErrors that exists on it (giving native message, code, and state).

Could you download the latest code from the branch and see if it all works well, h

[2020-04-29 17:29] snotmare commented on #56
I think that looks pretty good. I created a PR for you to review as a suggestion. It's my first PR ever, so hopefully I did it right!

[2020-04-30 15:36] #42 closed

[2020-04-30 16:14] markdirish commented on #41
It will require a bit of a retooling, but I definitely think that it is something that will come for 3.0.0. There are two ways to implement (both of which should eventually be added):

(incoming brain dump)

* The first is what you are asking, where I return some sort of object (maybe a `cursor`) that can call fetch to return rows one at a time. Maybe also a function signature `fetch(count: number

[2020-04-30 16:23] markdirish commented on #53
@smiley can you try the following for me?:

* Make sure your DSN has the `CCSID=1208` to make sure data transferred through ODBC is in UTF8 (which, along with UTF16, are the only encodings that the JavaScript environment can make strings from).
* Download the 2.3.0 branch, would should have fixes for UTF8 multi-byte characters to fix � for non-ASCII characters: `npm install markdirish/node-odbc#2.

[2020-04-30 16:39] markdirish commented on #45
Going to be an on-going effort, but considering the problems and extra hoops that Windows users have to jump through, I would at least like to get Windows 32-bit and 64-bit x86 binaries built for 2.3.0.

Will look into making GitHub actions for building said binaries

[2020-04-30 16:42] cebaa opened #87 "Feature request: support unnamed columns"
First, thanks for the awesome job you're doing with this project, it helps me tremendously!

The actual feature request:

[code]

Since both columns have no name, only one is key is created and the second one overwrites the first.

My suggestion is to auto-name (or potentially add the options argument for this to be user-controlled) missing keys - .e.g as `_1`, `_2`, ... or something along those l

[2020-04-30 16:51] markdirish commented on #87
Interesting. I will have to think of the best way to have user's indicate how they want keys to be generated, but in the meantime it shouldn't be difficult to check whether the column name is blank, and if so, generate a name like `_00000`, `_00001`, etc.

[2020-04-30 16:57] smiley commented on #53
@markdirish Wrong @smiley, you meant @smiley159

[2020-04-30 16:59] markdirish commented on #53
Thank you. Strange that sometimes I can @ people in no way related to this package, and other times I can't...

@smiley159  can you try the following for me?:

* Make sure your DSN has the CCSID=1208 to make sure data transferred through ODBC is in UTF8 (which, along with UTF16, are the only encodings that the JavaScript environment can make strings from).
* Download the 2.3.0 branch, would should

[2020-04-30 18:09] kadler commented on #53
@markdirish If they have data in TIS-620, then they're definitely not using the Db2 for i database (only supports EBCDIC and UTF-8).

[2020-04-30 18:11] kadler commented on #53
Looks like DBF files are for [dBase](https://en.wikipedia.org/wiki/.dbf)

[2020-04-30 18:13] kadler commented on #53
I suspect this is related to https://github.com/markdirish/node-odbc/issues/46#issuecomment-619067979

ie. we need to build with `UNICODE` on Windows.

[2020-04-30 19:46] markdirish commented on #87
Alright, I've pushed a fix to a new branch. You can download with:
[code]
That should generate column names if the column name returned has no length. Let me know if it works (my DBMS of choice doesn't allow unnamed columns, it auto generates them for me).

Other solutions that might work (depending on whether you like how this is implemented now):

1. You can modify your queries to use the `AS` k

[2020-04-30 21:46] snotmare commented on #62
@kadler, does the "IBM i Access ODBC Driver" work on pcs? Last time I tried it, I couldn't get it to work. However, if you think it should, I can try it again.

[2020-05-01 00:29] markdirish commented on #62
It should work on Windows, Linux, and IBM i (different versions of the driver). Instructions can be found here: https://github.com/IBM/ibmi-oss-examples/blob/master/odbc/odbc.md#installation-on-windows

I wonder if you now use the 2.3.0 branch on this repo, if you are able to get better error messages. There was a problem before where the ODBC error messages were being deleted off the error object

[2020-05-01 13:52] markdirish commented on #32
I know you said mariadb, but I found something similar in [the mysql documentation](https://www.npmjs.com/package/mysql):

It is theoretically possible to implement something like that, but my concern would be expansion of the parameter markers as well as the parameters. In your query:
[code]
You have 2 values but one marker. You would have to expand the number of markers as well, otherwise there

[2020-05-01 14:50] ThePrez commented on #32
@forstie, do you have any thoughts on this one?

[2020-05-01 15:44] kadler commented on #62
@snotmare the "IBM i Access ODBC Driver" is registered by the installer for the last few years now. If you have not updated your driver recently, perhaps that's the problem.

Once you're at the new enough level, you can also use cwbodbcreg.exe to switch your existing DSNs to use "IBM i Access ODBC Driver" with `cwbodbcreg /all V7R1`. For testing, you can also unregister older names with `cwbodbcre

[2020-05-01 16:52] markdirish opened #88 "Fix build warnings"
I have been ignoring build warnings, but as the package moves to use GitHub actions to test and deploy, I would like that output to be as clean as possible. In `2.3.0`, there are 2 types of warnings:

1. Issue when passing `isolationLeve` to `SQLSetConnectAttr`. Casting a 32-bit integer to a 64-bit `SQLPOINTER` causes the warning:

[code]
Fix: cast to `uintptr_t` before casting to `SQLPOINTER`

2.

[2020-05-01 17:41] kadler commented on #88
While this would be good to fix, it's not a "problem" as all the types are trivially destructible.

https://en.cppreference.com/w/cpp/language/destructor

[2020-05-01 21:17] mamorneau commented on #46
Hi yuguifly,

I think "encoding=CP1252" is specific to other types of databases and is not supported by the pervasive driver.  We are pretty much stuck with the translation modes "none", "oem/ansi" and automatic.  I have not played much with the oem/ansi mode.  This comes from the manual and is quite interesting:

_OEM/ANSI Conversion
This setting allows applications to store or retrieve character

[2020-05-05 15:01] serininformatica commented on #79
The solution works if i use ODBC but does not work in a loopback project that uses loopback-connector-ibmi ... any suggestion? tx

[2020-05-05 15:07] markdirish commented on #79
Go into `node_modules/loopback-connector-ibmi/` and see if it has its OWN `node_modules/odbc` that is a different version. These changes arent available on npm yet (hoping to release 2.3.0 later this week or next), and so `loopback-connector-ibmi` uses an older version of `odbc`

[2020-05-05 15:25] serininformatica commented on #79
i have changed the version into node_modules/loopback-connector-ibmi/, then ran npm install, but it does not work

[2020-05-05 16:16] cebaa commented on #87
Thanks for a quick turnaround @markdirish!

Perhaps adding a column naming function (i.e. column index => column name or even better (column name, column index) => column name) for these would be best, but that may require changing the API, so not sure if that's desirable.

I'm also not sure how often this is going to be used and how much it complicates things on your end. It might not be worth th

[2020-05-05 16:16] #87 closed

[2020-05-06 16:38] CodeBroJohn opened #90 "Node.js Version Requirement"
I have moved my node.js application from windows 10 to ubuntu 18.04. For that version of ubuntu the default repositories version of node.js is 8.10.0.

When I try to install odbc i get the warning that the package wants node >= 8.16.0.

I also get: Failed at the odbc@2.2.2 install script 'node-gyp configure build'.

Is this a result of using node 8.10.0?

[2020-05-06 16:45] kadler commented on #90
This is from the package.json: https://github.com/markdirish/node-odbc/blob/master/package.json#L33

@markdirish is this due to NAPI requirements?

[2020-05-06 17:05] markdirish commented on #90
Version matrix: https://nodejs.org/api/n-api.html#n_api_n_api_version_matrix

It looks like at some point I decided to use N-API v4 features. Off the top of my head I am not sure exactly what they are. Looking at the node-addon-api file [napi-inl.h](https://github.com/nodejs/node-addon-api/blob/master/napi-inl.h), it looks like v4 wraps around `AsyncProgress` classes and the `Date` class, neither

[2020-05-06 17:07] CodeBroJohn commented on #90
I will give that a shot. So far what I have did is changed the package version to 2.0.0, Have not checked to see if everything works as expected but I do get this warning.

(node:10398) Warning: N-API is an experimental feature and could change at any time.

[2020-05-06 17:31] CodeBroJohn commented on #90
Changing to an older version did not help, and changing the engine node to ">=8.10.0" suppressed that error, but odbc still did not install, same error:
Failed at the odbc@2.2.2 install script 'node-gyp configure build'.

[2020-05-08 16:54] #90 closed

[2020-05-09 01:26] itas109 opened #91 "node-odbc does not work with worker_thread"
node-odbc does not work with worker_thread

[code]

[code]

error:
[code]

reference:
https://nodejs.org/docs/latest-v12.x/api/addons.html#addons_worker_support

[2020-05-11 14:04] markdirish commented on #91
Appears as though I didn't write this to be a "context-aware addon": https://github.com/nodejs/node/blob/master/doc/api/addons.md#context-aware-addons

There is a `node-addon-api` example that deals with multiple loads that I will have to take a look at: https://github.com/nodejs/node-addon-examples/blob/1989e6edf6d98f3f925667ba22b7e265743e6ba3/multiple_load/node_10/multiple_load.cc

Definitely do

[2020-05-12 07:26] AlessioQ commented on #41
thanks Mark,

in my modest opinion the solution 1 should be enough (or at least the first goal).
Thanks in advance for your great work!

[2020-05-13 19:51] markdirish commented on #79
@serininformatica  I will continue to look into this. I'm not sure why loopback isn't playing nice with 1208.

@MrTeapot  and @nedi-dev would you mind downloading the latest `@beta` tag from npm and see that everything still seems to work well? I have updated it to include all of these changes.

[code]

[2020-05-13 20:01] serininformatica commented on #79
I had to remove 2 dev modules to run "npm install" into loopback-connector-ibmi, now it's working

[2020-05-14 09:13] MrTeapot commented on #79
odbc@beta is working! It gives me "odbc": "^2.3.0-beta.1" in package.json

[2020-05-23 03:29] #62 closed

[2020-05-23 03:29] #56 closed

[2020-05-23 03:29] #88 closed

[2020-05-25 11:11] #79 closed

[2020-06-01 20:10] gordonthorpe opened #94 "Error text buffer conflict in ODBCAsyncWorker::GetODBCErrors()"
ODBCAsyncWorker::GetODBCErrors() declares a local stack buffer, errorMessage[], to receive the error text returned by SQLGetDiagRec().  A reference to this buffer is saved in an ODBCError structure which is subsequently assigned to the array of errors returned by the function.

There are two problems with this code:

1. SQLGetDiagRec() is called in a loop to process multiple error conditions.  The

[2020-06-13 14:55] bennyt2 opened #96 "Numbers are being inconsistently returned"
**Describe your system**
* `odbc` Package Version: 2.3.0
* ODBC Driver: Microsoft Access Driver (*.mdb, *.accdb)
* Database Name: Microsoft Access
* Database Version: 2002-2003
* Database OS: Windows 10
* Node.js Version: 12.18.0
* Node.js OS: Windows 10

**Describe the bug**
Numbers are being inconsistently returned from Access database. For example, 0 is sometimes returned as 0.04. In the Access

[2020-06-17 14:58] TraceyK14 opened #97 "Not recognizing parameter markers"
[code]

I have 5 `(?)` parameter markers in the query.
I've also tried without the `()` and just using a `?` and that doesn't work either

[2020-06-18 18:17] snotmare opened #98 "Add precision and scale to columns in query results"
Hello! This is a feature request.

We are looking at the 2.3.0 version and are close to being able to use this in our production system. We use DB2 on a power i.

When running a query, we would like to use the columns array to understand more about the data types we're getting back. Right now it returns the column name and data type. Could you please also add precision and scale? I believe JDBC re

[2020-06-19 15:17] snotmare opened #99 "Stored procedure issues"
ODBC: 2.3.0
Driver:
[IBM i Access ODBC Driver]
Description=IBM i Access ODBC Driver
Driver=/QOpenSys/pkgs/lib/libcwbodbc.so
Threading=0
DontDLClose=1
UsageCount=1

System:
- Windows 10 for local development
- Power i

There are 3 issues I'd like to report concerning stored procedures. One question I have is, what can we provide you so you can recreate the issue in your environment? We are using RP

[2020-06-25 13:30] bruth opened #100 "Column name character encoding issue"
I am using this driver with [SQLPad](https://github.com/rickbergfalk/sqlpad) (/cc @rickbergfalk) and observing the column names have a different character encoding (appears to be non-latin), however the record data all is correct (I will follow up with a screenshot to demonstrate).

I don't believe SQLPad is doing anything to cause this issue ([here is the code](https://github.com/rickbergfalk/sql

[2020-06-30 11:00] MrTeapot opened #101 "Reconnect after disconnecting"
Hey!

For my REST APIs I like to keep a pool of connections open, and not make a connection on every request.

If the API server would lose connection to the db server (for example, during maintenance) - will a Pool create new connections once it's possible to connect again? And then fill the "pool" again?

[2020-06-30 12:30] markdirish commented on #101
Nope, what will happen is that all of your connections in the Pool will eventually timeout. They will no longer be connected, but once you try to use one, it will:
* check out a connection
* see that it isn't connected
* discard that connection
* then make a new connection.

I'm not sure how I would go about implementing an auto-connect or an auto-clean of stale connections in an ODBC way. You cou

[2020-06-30 13:14] MrTeapot commented on #101
What you described sounds good for my use case, it will start to fill the pool again with new connections as I try to use them. Eventually, all the stale connections will be replaced - at the cost of a little slower response time until the pool is full of fresh connections.

[2020-06-30 13:29] markdirish commented on #100
Hmm, I don't have any experience with SQLPad or AWS Athena, but it seems like a strange issue. I notice that SQLPad mentions wankdanker/node-odbc, which is the 1.x version of this package and returned data in a different format. It could be that it is trying to get the column name in a different way than 2.x returns it. Could you just confirm what version of the `odbc` package you are using? And s

[2020-06-30 14:13] markdirish commented on #99
If you could create the service program and stored procedure, that would probably help in diagnosing the issue. Maybe the most minimal program/procedure that still demonstrates the issues. You can post here or send to mirish@ibm.com if you want. As for your issues:

1. I can look into it, it will require a little bit of work as it requires another API call (`SQLProcedureColumns`) and it returns a

[2020-06-30 14:25] markdirish commented on #98
It should just be a matter of copying that data (which is already obtained from `SQLDescribeCol`) to the column object. The terms "precision" and "scale" will probably be "columnSize" and "decimalDigits" since those are the terms used by ODBC 3.x

[2020-06-30 14:35] snotmare commented on #99
Thanks @markdirish

We'll get you a sample service program and SP to recreate the issue.

I appreciate all the work you guys put into this. The SQL side seems pretty solid from what I can tell. We have some edge cases that don't work with the IDB connector but work fine with ODBC.

[2020-06-30 15:09] rickbergfalk commented on #100
Not sure if this helps but in SQLPad the column names are being derived from the keys returned in the row objects, not the columns property on the results itself if that makes sense. I intend on changing that at some point.

@bruth if I made a branch with some changes and additional logging would you be willing to run it against the database you're seeing this in?

[2020-07-01 06:36] #101 closed

[2020-07-01 09:59] bruth commented on #100
@markdirish Thanks for the observation and explanation. That sounds like a couple good candidates to test out.

@rickbergfalk Sure that would be helpful. Another team I am working with is actually doing the integration with SQLPad, but I will notify them if you put something to getting. Thanks!

[2020-07-02 21:15] snotmare commented on #99
Hello! I have a sample program for you. This is one that does not return output parameters, and fortunately it seems to be consistently not working :). I haven't seen anything where it returns a partial output parameter, so I'll keep watching for that.

Service program CVRODBCP
[code]

Stored procedure CVRODBCSP
[code]

We called this 3 different ways...

[code]

All 3 calls return results correct

[2020-07-10 14:04] Shao-Eric opened #102 "Issue when calling callProcedure"
Hi,

(Am on a Windows 10 OS, Node 10.16.0, DB: MSSQL)

I was able to get 1000 rows for the below query, which means I have successfully connected to the DB
const result = await connection.query(`SELECT top 1000 * from tableName`)

The issue happens when I try to call the procedure:
 const procResult= await connection.callProcedure(null, "dbo", 'sp_procname', ['06-30-2020', 0, 223906, 1, 0], (error

[2020-07-13 23:48] ssedano commented on #100
I'm facing the same issue with v2.2.2 (I also tried 2.3.0). Querying through `isql` works fine. Looking at odbc's trace file the main difference seems to be the encoding, but not sure if is a red-herring

### isql (works)
[code]

### Node (doesn't work)
[code]

The code seems to call `SQLDescribeCol.c`

[code]

[2020-07-15 01:57] groupespc69 commented on #96
I have a similar problem with a 4D software database.
It seems to happen randomly on float numbers, specially those with no decimal part.
Some trailing random digits (1 to 4) are added to the number, leading to increase the number by 10 to 10000.
It doesn't appear on same records each time I execute the query.

Is this a problem of memory flush ?

[2020-07-16 13:57] worksofliam opened #103 "[BUG] Missing output character parameters"
## Describe your system
* `odbc` Package Version: 2.3
* ODBC Driver: IBM i Access Driver
* Database Name: Db2
* Database Version:
* Database OS: IBM i
* Node.js Version: 12
* Node.js OS: IBM i

## Describe the bug
We have an issue where OUT parameters on a stored procedure are not being returned when used on IBM i 7.2, but works fine when running on my Macbook.

![image](https://user-images.github

[2020-07-21 09:27] AndyYouens opened #104 "Node version"
is there a minimum level of node for this package?

I'm running 8.17 and it doesnt install using npm install odbc

node-pre-gyp ERR! node -v v8.17.0
node-pre-gyp ERR!  -v v0.14.0
node-pre-gyp ERR! not ok

are there any other pre-req's?

[2020-07-21 11:29] markdirish commented on #104
It used to work with node 8, but it looks like the latest version of `node-addon-api` requires Node 10 or greater: https://github.com/nodejs/node-addon-api (search for "10.x" in the page). It probable uses stuff from N-API version 5, which requires 10.17+: https://nodejs.org/api/n-api.html#n_api_n_api_version_matrix

What you might be able to do is download version 1.7.1 of `node-addon-api` before

[2020-07-21 14:38] kadler commented on #104
Another thought is that we should declare our support statement for versions of Node.js and have a clear support policy. Not saying we should drop Node v8 support right now, but we should at least have a defined policy of which we support and when Node versions will be dropped from support.

[2020-07-22 12:01] worksofliam commented on #103
Bump. Having to switch to idb-pconnector while we wait

[2020-07-22 15:29] kadler commented on #103
I finally got a big endian Linux system set up with Node 10.x and ran the test and get the same as when running on IBM i. (You wouldn't believe how much work it is making an ancient SLES 11 run modern Node.js :sweat_smile:). It works completely fine on x86 Linux and ppc64le Linux, so it's definitely an endian problem somewhere.

[2020-07-22 15:33] kadler commented on #103
Looks like the bug is here: https://github.com/markdirish/node-odbc/blob/master/src/odbc_connection.cpp#L1054

According to the ODBC specs, this should return an INTEGER not a SMALLINT. Thus when we read the smallint_data from the pointer, we read the top 2 bytes of the 4 byte value. This will work _ok_ on little endian as long as the size is less than 32k, but on big endian it will be 0 _unless_

[2020-07-22 16:06] worksofliam commented on #103
@kadler I owe you a beer! You're a pro.

Thanks!

[2020-07-23 01:28] #103 closed

[2020-07-24 23:35] #68 closed

[2020-07-24 23:36] cegonzalv commented on #68
It is working correctly now. Now it just crashes when I call callProcedure, but I already saw an issue opened about that.

[2020-07-26 01:19] cassiolibraga opened #106 "Encoding problem from odbc data"
Hello,

I have recently updated to the current node odbc version (2.3.0). Since then I have a problem with the correct encoding of Brazilian special characters (éãó). The older version of node odbc (<2.0) was working fine.
The database is Microsoft Visual Fox PRO. The DBF file is encoded with WINDOWS 1252.
I am currently able to read the file but the specials characters were not decoded correctly

[2020-07-27 14:41] markdirish commented on #106
Versions 1.x were built with `UNICODE` defined by default, which is an important definition for Windows (especially for extended character sets). Try modifying `binding.gyp` to add `UNICODE` to the defines:

[code]

And then run `npm install` when in the `odbc` directory to re-run the build.

[2020-07-27 15:41] nedi-dev commented on #96
Urgent!
We see the same problem on IBM i with different data-tables.
It is very urgent for us as we provide price-data to the online-shop.
These price-data is partly corrupted due to randomly added digits and missing decimal symbols.

Describe your system

    odbc Package Version: 2.3.1
    ODBC Driver: IBM i
    Database Name: DB2 for i / IBM i
    Database Version: 7.3
    Database OS: OS/i 7.3

[2020-07-27 15:57] markdirish commented on #96
This will be my top priority today.

[2020-07-27 16:04] nedi-dev commented on #96
Thank you ... looking foreward to your results.

[2020-07-27 16:09] groupespc69 commented on #96
Good news, thanks.

[2020-07-27 18:12] markdirish commented on #96
Turns out, there's all _sorts_ of gibberish being returned when numbers are bound to C character target types (like `NUMERIC`):
[code]
Since these are converted to numbers using `atof()` before being sent to JavaScript, the gibberish is just ignored. Only when it happens that a number is in that giberish is there an issue, where `atof()` includes it in the number it returns.

Should be fairly easy

[2020-07-27 19:29] markdirish commented on #96
Ok, does anyone want to try out the new version and let me know if it works? Isn't on npm, just on my github so far:

`npm install markdirish/node-odbc#issue96-inconsistent-numbers`

[2020-07-27 20:11] nedi-dev commented on #96
Perfect, will try tomorrow morning (about 10 hours from now).

[2020-07-28 13:18] nedi-dev commented on #96
Had some trouble with installing using your install command because of using password for ssh public key.
Following command worked for me:

My tests work fine now.
I'll ask my colleague to test it with his examples.
Getting back shortly with the results.

[2020-07-28 13:26] markdirish commented on #102
Hi @Shao-Eric,

Looking at your code, the first thing that jumps out at me is that you are using both callback and Promise syntax. First thing I would try is rewriting it like:

[code]
I don't think that will _fix_ your issue, since it is probably just defaulting to using the callback and giving you an error from the code that looks correct.

The error you are getting means that the application ca

[2020-07-28 13:37] nedi-dev commented on #96
Seems to be fine as well.
As the fix is urgent for us, what do you suggest for taking this corrections into production?
Should we take this branch or better waiting for a 2.3.2 version?

[2020-07-28 13:38] markdirish commented on #96
Better waiting for 2.3.2. I will try to push it out today!

[2020-07-28 13:39] nedi-dev commented on #96
Great! Thanks a lot for your qualified short term support.

[2020-07-28 13:45] markdirish commented on #97
Hi @TraceyK14,

Unfortunately I don't think that this is an issue with this connector. `prepare` does little more than pass along your string to `SQLPrepare`, and then calls `SQLNumParams` to retrieve the number of parameters you bound. There are a few possibilities:

* For whatever reason your driver doesn't return the correct number for `SQLNumParams`, but you are still preparing and binding cor

[2020-07-28 14:10] groupespc69 commented on #96
Great news. Thanks for this correction and your support.

[2020-07-28 14:24] markdirish commented on #98
Pushing out 2.3.2 today, going to try to get this in there

[2020-07-28 15:21] markdirish commented on #98
Well that was incredibly easy:
[code]
this field is `DECIMAL(5,3)`

[2020-07-28 17:35] #96 closed

[2020-07-28 17:46] #98 closed

[2020-07-28 18:21] markdirish commented on #98
Should now be live in 2.3.2!

[2020-07-28 18:21] markdirish commented on #96
Should now be live in 2.3.2!

[2020-07-29 02:55] Rhidlor opened #112 "Single character column names"
_As of the submission of this issue I am using the latest version of this package._
When I perform a SELECT query on my IBM Db2 database it returns only the first character of the column name.

[code]
[code]

_This is the first time I've created an issue on a GitHub repository so forgive me if I'm doing something wrong._

[2020-07-29 08:20] nedi-dev commented on #96
Works in 2.3.2

[2020-07-29 13:33] markdirish commented on #112
Huh. Didn't think I touched that code in the latest patch. Was it working ok before?

I have today off, but I could maybe take a look tonight (US Central Time). Most likely get a fix out tomorrow.

[2020-07-29 15:11] kadler commented on #112
@Rhidlor are you running on Windows?

If so, @markdirish this could be related to enabling UNICODE. If we were treating a string as UTF-8 and feeding it UTF-16LE could produce this result. eg. "ABCD" in UTF-16LE is x'4100420043004400' and passing that to an API that expects a null-terminated string it treats the second byte of the UTF-16 code point as the null-terminator.

[2020-07-29 15:38] markdirish commented on #112
https://github.com/markdirish/node-odbc/blob/ed4fbedcd42e5d690ab9e21ccd68e31a2fb81031/src/odbc_connection.cpp#L317-L323

Looks likely, the code always assumes UTF-8 when translating to Napi::String::New.

https://github.com/nodejs/node-addon-api/blob/master/napi-inl.h#L786

It looks like I will have to cast them as `char16_t`s if `UNICODE` is defined

[2020-07-30 02:53] Rhidlor commented on #112
Sorry for the late reply, I didn't have this issue before the latest patch, and yes my development environment is on Windows.

[2020-07-30 09:04] citolen commented on #112
@markdirish Additionally when translating `ODBCError` to `Napi::Object` the same issue occurs.
Meaning error messages are also truncated.

i.e
[code]

As you said casting to `char16_t` when `UNICODE` is defined solves the problem.

[2020-07-31 13:54] wesbelonci commented on #112
same problem

[2020-07-31 13:56] markdirish commented on #112
Getting a change out soon. As a temporary fix, you can remove `UNICODE` from the defines in `binding.gyp` and recompile with `npm install --build-from-source`, or you can downgrade to version `2.3.1`

[2020-07-31 15:24] markdirish commented on #112
Ok, 2.3.3 should now be live, and there is a prebuilt win32-64bit binary. Let me know if it still looks broken (I tested before and after on a Windows system and it seemed fixed with these changed)

[2020-08-05 13:43] reetp1dev commented on #112
I'm still getting single character column name with v2.3.3

![image](https://user-images.githubusercontent.com/59793526/89419974-b78bc480-d74f-11ea-84e1-2cfad9f15a8c.png)

[2020-08-05 13:51] reetp1dev commented on #112
I downgraded to v.2.3.1 and it fixed the issue.
![image](https://user-images.githubusercontent.com/59793526/89420824-e0608980-d750-11ea-8ae6-3cfe81f0f92c.png)

[2020-08-07 09:14] austil opened #115 "[BUG] Statement binding fail on second loop iteration"
Hi, first of all, thank you for this awesome odbc lib !
Here is a bug I've encountered :

* `odbc` Package Version: 2.3.3
* ODBC Driver: Actian Vector Ingress 3.50
* Database Name: Actian Vector
* Database Version: 5.1
* Database OS: Linux
* Node.js Version: v12.13.1
* Node.js OS: Ubuntu 18.04.4 LTS

**Describe the bug**
An error is raised when binding a statement for the second time.
This second

[2020-08-07 09:21] YisaHsu commented on #112
I'm still getting single character column name with v2.3.3, too.

[2020-08-07 14:02] markdirish commented on #112
Will look into this today, hopefully to get a (working) fix out by end of day

[2020-08-07 14:04] markdirish commented on #115
@austil , Thank you for the detailed explanation of the problem. It should make it very easy to diagnose and fix. I will see if I can track down the issue today!

[2020-08-07 20:21] markdirish commented on #112
Im a goofball. I fixed the `columns` property on the result, but not the actual column names in the result objects (or the statement). Was an easy fix, looking to push a fix tonight.

[2020-08-10 01:34] YisaHsu commented on #112
I am an engineer working in a software development company.
My client (a company that uses Db2 for i5) went for summer vacation,
So it will take two weeks for me to work, so I'm sorry,
but can only ask other users to report whether the problem has been solved?

[2020-08-10 01:48] markdirish commented on #115
I have been testing this and I haven't been able to recreate the issue on my setup:
[code]

Some interesting things:
* The error seems to be coming from the Driver Manager itself, which robs me of the easy "it's your driver!" excuse.
* The error is coming from `SQLDescribeParam`, which is part of the JavaScript `.bind()` call. I used to frontload the `SQLDescribeParam` work in `.prepare()`, since

[2020-08-10 01:56] markdirish commented on #115
Maybe check which version of `unixODBC` is installed on your system? [It looks like v.2.3.5 had a number of bug fixes](http://www.unixodbc.org/), including `SQLDescribeParam extraneous checks for state`. Its possible your driver manager is an earlier version, and has some goofy state check that throws an error when it shouldn't.

[2020-08-10 02:26] #112 closed

[2020-08-10 02:36] markdirish commented on #112
Should be fixed on version 2.3.4, available now on NPM.

[2020-08-10 06:54] austil commented on #115
Hey, thx for investigating this bug.
Indeed I'm running unixodbc version `2.3.4-1.1ubuntu3`.
I'm gonna fire up a docker container with a more recent version (2.3.6 on Debian buster) to see if it suddenly work.

[2020-08-10 07:24] austil commented on #115
You're spot on ! It's working inside my docker container.
So the only "fix" needed may be a quick warning in the readme and a line for the unixODBC version in the bug template :yum:
Thank you very much again for your help with this !
Have a nice week.

[2020-08-10 07:24] #115 closed

[2020-08-17 01:12] cassiolibraga commented on #106
I dit it, but, unfortunately, It seems not to work.

[2020-08-18 09:18] ajaygt opened #118 "[BUG]node-odbc does not compile with node version 12.18.3"
**Describe your system**
* `odbc` Package Version: 1.4.6
* Node.js Version: 12.18.3
* Node.js OS:  4.15.0-88-generic #88-Ubuntu SMP  x86_64 x86_64 x86_64 GNU/Linux
* node-gyp : v7.1.0
**Describe the bug**
After cloning the latest code from github I tried compiling the library using node-gyp build command and the build failed with
error: ‘v8::Handle’ has not been declared
         static void Init(

[2020-08-18 09:24] ajaygt commented on #118
Sorry wrong owner

[2020-08-18 09:26] ajaygt commented on #118
Am confused

[2020-08-18 17:34] aboft opened #119 "Pool keeps adding connections after query"
Hello all,

Please excuse some of my ignorance as I'm still new with some of this, but I'm coming across a problem where I create a pool and really only query some data, manipulate, and then send it off to another part of my app. I noticed that after the query it will release the connections but keeps adding about 5 idle connections. After each search there's another 4-7 connections added and idle

[2020-08-19 05:18] #118 closed

[2020-08-19 05:20] ajaygt commented on #118
https://github.com/wankdanker/node-odbc/issues/87

Created this issue for wankdanker

[2020-08-21 02:46] gabheadz commented on #39
Still having same error in version 2.3.4 on linux and node 10.22, only first character of output parameters is returned.

![image](https://user-images.githubusercontent.com/15148117/90846562-07f94980-e32e-11ea-9988-715da04025b1.png)

Last 2 params should be

![image](https://user-images.githubusercontent.com/15148117/90846777-8f46bd00-e32e-11ea-8c1f-971c04275ae7.png)

[2020-08-23 21:01] Shao-Eric commented on #102
All is good now, thank you so much for following up on this, I am going to close it

[2020-08-23 21:01] #102 closed

[2020-08-24 16:23] markdirish commented on #39
@gabheadz is `UNICODE` defined in the `binding.gyp` file in the odbc package directory? I have run this on my own Linux machine, but I am not seeing the same issue.

[2020-08-24 17:23] markdirish commented on #39
Ok, for some reason this escaped me, but a good place to start would be to defined `CCSID=1208`, either in your connection string or in your DSN. The API that the `odbc` package uses on Node.js can only create UTF8 or UTF16 strings, so you have to set that CCSID (which will set the client CCSID, so Node.js can convert correctly). I'm not convinced thats the issue, but it is a place to start.

[2020-08-24 17:35] kadler commented on #39
@gabheadz FYI there's no reason to use the "IBM i Access ODBC Driver 64-bit" and it's recommended that you use the standard "IBM i Access ODBC Driver". The former will be going away in a future version.

@markdirish On any modern Linux you should always be running in a UTF-8 locale, though the driver does require that the application call `setlocale` to use it (since POSIX says that an application

[2020-08-28 15:32] worksofliam opened #120 "[BUG] callProcedure does not work on Windows."
**Describe your system**
* `odbc` Package Version: 2.3.4
* ODBC Driver: IBM i Access ODBC Driver (13.64.24)
* Database Name: Db2 for i
* Database Version: x
* Database OS: IBM i
* Node.js Version: 12.13.1
* Node.js OS: Windows

**Describe the bug**

I am getting, what could be an encoding issue with odbc.

[code]

When running: `const results = await connection.callProcedure(null, 'BARRY', 'ABCD_P

[2020-08-28 15:43] markdirish commented on #120
`callProcedure` is a bit of a mess when `UNICODE` is defined (which is by default on Windows). If you want to work around it, you can remove `UNICODE` from the windows defines in `binding.gyp`, and it _should_ work.

`callProcedure` does a lot of string concatenation, and a lot of it isn't UTF16 friendly. Its on *the list*.

[2020-08-31 14:23] worksofliam opened #121 "[BUG] INOUT not returning correct size"
### Describe your system

* `odbc` Package Version: 2.3.4
* ODBC Driver: IBM i
* Database Name: Db2 for i
* Database Version:
* Database OS: IBM i
* Node.js Version: 10.13.0
* Node.js OS: Mac OS

### Describe the bug

Here's a call to a stored procedure:

![image](https://user-images.githubusercontent.com/3708366/91730120-72678080-eb9d-11ea-90df-4382a522ff38.png)

As you can see I am passing `cust

[2020-09-14 18:51] markdirish opened #122 "[BUG] Pool creates two connections when one is closed in calls to .query"
**Describe your system**
* `odbc` Package Version: 2.3.4
* ODBC Driver: IBM i Access ODBC Driver
* Database Name: Db2 for i
* Database Version: 7.3
* Database OS: IBM i 7.3
* Node.js Version: 12.18.0
* Node.js OS: IBM i

**Describe the bug**
When a pool connection is closed, 2 connections are created in its place.

**Expected behavior**
When a pool connection closes, only one should be created.

*

[2020-09-22 18:13] ezequielmross commented on #106
Did you find a solution? @cassiolibraga

[2020-09-23 03:04] cmdreay opened #124 "multiple statements"
can i query with multiple statements?  just like module 'mysql'

[2020-09-23 13:34] markdirish commented on #124
I'm not sure what you mean. Like:

[code]

ODBC does have batch support: https://docs.microsoft.com/en-us/sql/odbc/reference/develop-app/batches-of-sql-statements?view=sql-server-ver15

Unfortunately this package doesn't yet have support for returning multiple result sets in the result object: https://docs.microsoft.com/en-us/sql/odbc/reference/develop-app/multiple-results?view=sql-server-ver15

[2020-09-24 03:56] cmdreay commented on #124
that's what i mean ,thanks

[2020-09-24 03:56] #124 closed

[2020-09-25 00:28] markdirish commented on #121
Found _several_ bugs that will have to be fixed:

1. The one displayed here has to do with how parameter values are stored as they are going in. Because I have to store them as _some_ C type before I can call `SQLProcedureColumns` to know the real type, I was casting them to a UTF16 string, but this causes 2nd bytes to be 0x00 for many characters, causing it to think its a null-terminator when dig

[2020-09-25 19:26] leucippus1608 commented on #30
I'm running into a similar issue at 2.3.5 connecting to DB2 on the IBM i.

I was testing some code using commit() and rollback() when I noticed that both UPDATE and DELETE statements that affect 0 rows return a generic error - stack = Error: [odbc] Error executing the statement, message = [odbc] Error executing the statement -  but the odbcErrors array is empty.

On the contrary, an INSERT that fa

[2020-09-27 21:35] dpieski opened #125 "[BUG] Not receiving a connection"
* `odbc` Package Version: 2.3.5
* Database Version: Access 2003
* Database OS? Windows?
* Node.js Version: 14.8.0
* Node.js OS? Windows?

**Describe the bug**
Nothing Happens. I get no error and get no output. Everything just closes without an error.

**Expected behavior**
Get something back.

**Code**
[code]

* The offending code:
[code]

[2020-09-28 01:13] markdirish commented on #125
Huh. Not a lot to go on. Could you do the following?

1. In binding.gyp, add `'DEBUG'` to the list of defines
2. Run `npm install --build-from-source` in the `node_modules/odbc` directory
3. Rerun your little program above and see if it returns anything

I would imagine that if it timesout it should send you back SOMETHING (a warning or error, some DiagnosticRecord), but I'm not really sure what w

[2020-09-28 20:21] hansaliyad1 opened #126 "1016 Can't Connect to the Appx Data Server"
I am using Node ODBC 2.3.1. Everything was working great until today. For some reason, it is no longer able to make a connection. I haven't run the OS updates. I am getting below error message. I was wondering if you can assist me. Thank you!

[code]

Thank you! Stay Safe!

[2020-09-30 17:32] dpieski commented on #125
When I rerun after making those changes I get:

[code]

I made a test2.js that uses `node-adodb` and returns the correct results. My connection string in test2 uses driver: `Microsoft Access Driver (*.mdb)` instead of `Microsoft Access Driver (*.mdb, *.accdb)`. The remainder of the connection string and variable values are the same.

When I run the above code with the connection string of (*.mdb),

[2020-10-01 16:09] epligrow opened #127 "[BUG] Error returning negative smallint columns."
**Describe your system**
* `odbc` Package Version: 2.3
* ODBC Driver: IBM i Access ODBC Driver
* Database OS: DB2
* Node.js Version: v10.16.3
* Node.js OS: IBM i v7.3

**Describe the bug**
While running a select on a smallint column containing negative numbers, the following error appeared. The value of Column 26 in the error shown is -13, but this happens on any negative smallint regardless of co

[2020-10-01 17:50] markdirish commented on #127
Hi @epligrow !

Yea, unfortunately SMALLINT fields are binding to an SQLUSMALLINT! I have a big host of changes I am working on now (primarily getting procedures to work more smoothly), and this is one of the main fixes. Will link this issue when it is fixed so you will get an update.

Thanks for the issue!

[2020-10-02 22:12] dromonaco commented on #122
I think this issue is incorrect. I think when `pool.query()` calls `close` it calls the `close` method of the `Connection` class---not the overwritten `close`. I think `close` is only overridden if the `pool.connect()` method is called.

[2020-10-03 00:22] markdirish commented on #122
You appear to be right, which makes the code even worse in my opinion. The overriding of close should be done in `increasePoolSize`, which should be the one-stop shop for populating a Pool with connections. Will try to detangle this weekend.

[2020-10-05 13:34] duffett opened #128 "Error getting information about maximum column length from the connection"
Using UnixODBC to connect to a MS Access (mdb) database via DSN.  Application works in Windows but when deployed on Linux receive the following error when calling odbc.connect or odbc.pool.

`Error getting information about maximum column length from the connection`

Successfully able to connect and query database via isql -v "DNS_NAME"

[code]

[2020-10-05 14:30] worksofliam opened #129 "CLOB support"
According to this comment, CLOB is not yet supported - https://github.com/markdirish/node-odbc/issues/11#issuecomment-504989633

Is this still the case?

E.g. if I define a stored procedure like so, I am unable to pass in character data?

[code]

[code]

Thanks!

[2020-10-08 11:34] dabo248 opened #130 "[BUG] Memory Leak when querying SQL Anywhere 17 with node 64-bit"
**Describe your system**
* `odbc` Package Version: 2.3.5
* ODBC Driver: SQL Anywhere 17
* Database Name: SQL Anywhere Network Server Version
* Database Version: 17.0.9.4913
* Node.js Version: 12.16.3 (64-bit)
* Node.js OS: Windows 10 Pro

**Describe the bug**
When querying our SQL Anywhere 17 database with node and node-odbc 64-bit we experience an extremely high memory consumption, whereas the sa

[2020-10-09 09:48] manudarp commented on #106
@cassiolibraga @ezequielmross I have an urgent need to find out the solution to this problem, I tried to do everything. Have you found out the solution?

[2020-10-09 14:14] dabo248 commented on #130
Looks like column's buffer size is wrongly calculated in `odbc_connection.cpp`, causing the high memory usage.

[code]

ColumnSize is 2147483647, causing the allocation to fail. We have implemented a workaround with a fixed buffer size of 1024, which is fine for us: https://github.com/BusyBytes/node-odbc/commit/d8d86aafef740519cc214ec93578ad40c220b0f4

[2020-10-13 12:38] markdirish commented on #130
Quick question: How is the field defined? 2147483647 is 0x7FFFFFFF, or the max value of a 32-bit signed integer. the NVARCHAR documentation you linked notes that it should only allow up to 32767 characters, so I wouldn't expect `column->ColumnSize` to return such a large number.

[2020-10-13 12:54] dabo248 commented on #130
I guess it's originating from SQL Anywhere's LONG NVARCHAR, which is described as SQL_WLONGVARCHAR (same switch case). A LONG NVARCHAR can be up to 2 GB (2147483647 bytes) in size:

http://dcx.sap.com/sqla170/en/html/81f9dcbf6ce21014a78989d5f3c7465a.html

[2020-10-13 14:25] markdirish opened #131 "Bump `node-addon-api` version to latest"
`node-addon-api` is the C++ wrapper for N-API used by this package. The version currently used (`"^1.7.1"`) is a few years out of date and doesn't include the latest N-API code (version 6+ I believe).

The biggest change will be that Napi::BigInt was moved out of `NAPI_EXPERIMENTAL` and into `NAPi_VERSION > 6`. Will need to add `#if` checks in those code for cases where BigInt is used.

Also eed t

[2020-10-13 15:23] kadler commented on #131
Does this effect the versions of Node.js that are supported?

[2020-10-13 15:51] markdirish commented on #131
So the biggest issue is that node-addon-api only supports 10.x and above. From the [node-addon-api README](https://github.com/nodejs/node-addon-api):

[code]

I know we (IBM) ship nodejs8, but is not longer in LTS from Node.js.

*In an ideal world* I would have infinite time and could rewrite the package in pure N-API, which would mean that we wouldn't need `node-addon-api`, and the versions suppo

[2020-10-13 15:57] kadler commented on #131
OK, considering Node.js 8 went EOL last December (so nearly a year ago), I think that's fine to drop it.

[2020-10-14 02:45] markdirish commented on #122
@dromonaco , I heard through the grapevine you wanted to talk about pool performance. I worked on pooling a bit tonight. I ironed some thing out, like centralizing the overwriting of close logic and, more importantly, reusing connections (unless `reuseConnections: false` is passed on the configuration object).

The changes should be on the branch `pool-fixes`, could you give them a whirl and let m

[2020-10-14 03:08] dromonaco commented on #122
@markdirish Great! I'll try it out tomorrow.

[2020-10-14 22:27] dromonaco commented on #122
Here are my timing results of calling a JavaScript function (running in node on an IBM i partition) that makes 14 calls via node-odbc to the XMLSERVICE stored procedure `iPLUGR512K` which is used to call `QSNDDTAQ` and `QRCVDTAQ` programs.

| Branch     | Description                              | Average time (ms) |
| ---------- | ---------------------------------------- | ----------------- |
| p

[2020-10-15 02:09] markdirish commented on #122
Certainly seems to be better, but yeah `reuseConnections` doesn't seem to be doing what I expect. I will test it a bit and write some tests to ensure that `reuseConnections  = false` is doing what I think it should be doing.

[2020-10-16 11:41] worksofliam opened #133 "[BUG] Connection close is closing but handle not ending?"
![image](https://user-images.githubusercontent.com/3708366/96254111-a8758e00-0fac-11eb-8bfe-048f9f2c6409.png)

I am using jest to run unit tests in my app but on the teardown, I am closing all the connections in my pool (custom implementation) but jest is telling the handle isn't ending.

Any ideas?

Thanks!

[2020-10-16 12:08] worksofliam commented on #133
So this works fine.

[code]

But this does not.

[code]

Seems to be leaving handles open?

![image](https://user-images.githubusercontent.com/3708366/96256502-b3322200-0fb0-11eb-82e4-b375ab4e61bb.png)

[2020-10-20 00:07] markdirish commented on #122
Ok, I think I have it solved in this branch. `reuseConnections` (and actually every configuration option to the pool) wasn't being passed correctly. @dromonaco , would you mind testing it out again? Your table was really helpful, and you have a much better "real world" test that I do.

I also rewrote large portions of the pool. The worst performance problem in the pool I was still noticing was whe

[2020-10-20 03:05] dromonaco commented on #122
@markdirish Great! I will try this tomorrow. I love that you put in code to handle outstanding connections😊.  I was seeing the same thing happening and I would end up with way more connections then necessary. Can't wait to try it out!

[2020-10-20 14:19] epligrow opened #134 "[BUG] Error passing long parameters in select statement."
**Describe your system**
* `odbc` Package Version: 2.3.5
* ODBC Driver: IBM i Access ODBC Driver
* Database OS: DB2
* Node.js Version: v10.16.3
* Node.js OS: IBM i v7.3

**Describe the bug**
When executing a select statement with bound parameters in a where clause or case statement, if the parameter is longer than the column being queried a "right truncation error" will be thrown. This happens reg

[2020-10-20 14:27] kadler commented on #134
This is not a problem with node-odbc, that's just how ODBC and the IBM i Access ODBC driver works. If you pass a parameter that is too big to fit, the parameter will get truncated and treated as an error. Why do you want to pass oversized parameters? What's the use case here?

[2020-10-20 14:36] epligrow commented on #134
I am using this to build a search, and the columns being searched are varying sizes. For example, the search looks for matches in both a 10-character name and a 30-character description.

[2020-10-20 14:48] kadler commented on #134
If you want to control the size of your parameters, you should be able to do something like `select * from qsys2.object_tyes where object_type = cast(? as varchar(128))`.

[2020-10-20 15:50] epligrow commented on #134
That seems to do the trick! I also found that casting the column itself as a larger varchar fixes this issue and is able to search on the entire string, even if it is longer than the normal length. Thanks for the help!

[2020-10-20 19:03] markdirish commented on #134
Looks like this was solved, so going to close!

[2020-10-20 19:03] #134 closed

[2020-10-20 19:10] markdirish commented on #130
Even if it is SQL_WLONGVARCHAR for both data types, I would think that `SQLDescribeCol` would return `NVARCHAR`s column size (which should be 32767).

I am working on a way to "stream" large columns using `SQLGetData`, essentially getting the data in chunks so that there is no need to allocate a large buffer. That should help solve the issue, but it might take a little bit because its a big featur

[2020-10-20 19:28] markdirish commented on #133
When a connection is added to a pool, its `close` is overwritten so that closing it returns it to a pool. Of course your custom implementation probably is not reusing any connections (or maybe it is?), so they should be closed anyways. You might see if the `fix-pooling` branch fixes the issues, it should now reuse connections by default.

But yeah, seems like _some_ issue with overriding the close

[2020-10-20 19:41] markdirish commented on #129
The problem is the IBM i Access driver, which has an allowlist of SQL Types that it allows SQLBindParameter to bind to. And CLOB ain't on it!

The driver itself is closed source, but I added CLOB to the white list and was able to bind IN-INOUT-OUT for both character strings and binary data. I'm not sure where else this white list is used, so it will take more looking. But since this isn't a Node.j

[2020-10-20 19:41] #129 closed

[2020-10-21 20:41] ChrisMcHarvey opened #135 "Doesn't work with NuxtJS"
When running my program and it hits the line:
`const odbc = require('odbc')`
it returns the error
![image](https://user-images.githubusercontent.com/14862980/96784966-22968000-13bc-11eb-807f-eefd7bcdf921.png)

When I run the suggested command to install the missing dependencies, `npm install --save child_process fs` it seems to install them fine but when I run my program again it returns the exact

[2020-10-21 21:00] markdirish commented on #135
Not sure how NuxtJS handles Node.js native modules... seems like it would still work.

Is there a Node.js process running under the covers?  If yes, what version is it? Something seems fouled up in your installation or loader, because `child_process` and `fs` are built-in Node.js modules, you should never have install them

[2020-10-21 21:11] ChrisHarveyHub commented on #135
Ah that's interesting. I'm running node v12.16.1

[2020-10-21 21:12] ChrisHarveyHub commented on #135
Yeah all the other modules I've install have worked fine but all the error messaging doesn't explain much. I just know the errors don't appear when I bypass odbc and run my db calls over the regular mysql db connection

[2020-10-22 17:56] ChrisHarveyHub commented on #135
Just tried fully reinstalling node but got the same result on running. Can anyone help debug?

[2020-10-22 18:41] ChrisHarveyHub commented on #135
Also seeing this error:
![image](https://user-images.githubusercontent.com/14862980/96915812-b7f54b00-1474-11eb-8905-f87c51ef72d1.png)

[2020-10-22 18:48] dromonaco commented on #122
@markdirish I am not seeing the `reuseConnections` branch.

[2020-10-22 18:53] markdirish commented on #122
Sorry, should be in the `pool-fixes` branch. My note was phrased poorly.

[2020-10-22 19:39] markdirish commented on #135
You should copy/paste the text starting at the very first error you see. The images are hard to parse (especially with the magenta background).

What it honestly looks like is that node-pre-gyp is trying to install (i.e. compile) when it hits the require the statement. In your `node_modules/odbc/lib` directory, is there a `napi-v{napi_build_version}` directory that has `odbc.node` inside of it?

[2020-10-22 20:07] ChrisHarveyHub commented on #135
Apologies, below you'll find a full screenshot of the error.

As for the node-pre-gyp I had a hunch that was the culprit but wasn't sure where to begin. To your point, I see the odbc.node file inside node_modules/odbc/lib/bindings/napi-v3

![image](https://user-images.githubusercontent.com/14862980/96922088-67ceb680-147d-11eb-8264-e429e8b9e752.png)

[2020-10-22 20:14] markdirish commented on #135
In `node_modules/odbc/lib/odbc.js`, change this line:

[code]

To hardcode point to `./bindings/napi-v3/odbc.node` and see if that helps:

[code]

[2020-10-22 21:58] dromonaco commented on #122
Here are my timing results using the same partition and function that makes 14 calls via node-odbc to the XMLSERVICE stored procedure iPLUGR512K which is used to call QSNDDTAQ and QRCVDTAQ programs.

| Branch     | Description                               | Ave. time (ms) |
| ---------- | ----------------------------------------- | -------------- |
| pool-fixes | Without pooling

[2020-10-23 16:45] grahamaj opened #136 "[BUG] Failed to set ciphers to use, errorSQLState=HY000"
**Describe your system**
* `odbc` Package Version: 2.3.5
* ODBC Driver: unixODBC.x86_64 0:2.3.1-14.el7 unixODBC-devel.x86_64 0:2.3.1-14.el7 mysql-connector-odbc.x86_64 0:8.0.22-1.el7
* Database Name: MySQL
* Database Version: 8.0.22
* Database OS: CentOS 7
* Node.js Versions (nvm not working): 10.21.0 (I have also tested all versions of 10.17.0-10.22.0, 12.19.0, 14.14.0, 15.0.1 with the same resul

[2020-10-26 15:20] DavidRusso opened #137 "[BUG] Unable to Call Stored Procedure with CLOB Parameters"
**Describe your system**
* `odbc` Package Version: 2.3.5
* ODBC Driver: IBM i Access ODBC Driver
* Database Name: Db2 for i
* Database Version: 7.2
* Database OS: IBM i 7.2
* Node.js Version: 12.18.4
* Node.js OS: IBM i

**Describe the bug**
Calling a stored procedure with CLOB parameters doesn't work. When called using `connection.query()` the call succeeds, but the output parameter data is not r

[2020-10-26 17:09] markdirish commented on #137
Two things:

1. That warning has nothing to do with CLOB support, it actually is because ParameterType is bound to an unsigned smallint, and CLOB indicator is -99, so it complains. This will be fixed in the next version.

2. Even when that is fixed, CLOB support currently doesn't work with the IBM i ODBC driver. See: #129 .  It checks an allowlist of data types for binding parameters, and that lis

[2020-10-26 17:09] #137 closed

[2020-11-11 22:06] markdirish commented on #122
Ok, I have been testing, and it seems like the final issue is really just a constraint of N-API:

* It queues up creating X connections, each on their own thread.
* The number of threads (appears to be 5 on my system) runs out, so everything else after is queued up
* When the first connection returns, it immediately tried to run the query. But that thread is added to the end of the queue, and it d

[2020-11-16 16:07] Leo137 commented on #122
Hey,
First of all, thanks for the effort.

Is the beta branch up to test?

[2020-11-17 20:22] markdirish commented on #122
There is now an alpha branch up for testing. If you want to download it, you can run `npm install odbc@alpha` and it should download the latest and greatest version with all of these pooling fixes. @dromonaco do you want to test that version out and make sure that you still see all the timing improvements?

[2020-11-17 20:25] markdirish commented on #127
@epligrow  do you want to see if it is still an issue on the 2.4.0-alpha.0 version? You can download by running `npm install odbc@alpha`. I think the SMALLINT changes are in there.

[2020-11-17 22:51] dromonaco commented on #122
Thank you Mark! I will be able to begin testing in about 2 days.

[2020-11-20 18:57] dromonaco commented on #122
Here are my timing results of `odbc@2.4.0-alpha.0` using the same partition and same function that makes 14 calls via node-odbc to the XMLSERVICE stored procedure iPLUGR512K which is used to call QSNDDTAQ and QRCVDTAQ programs.

| Branch     | Description                               | Ave. time (ms) |
| ---------- | ----------------------------------------- | -------------- |
| pool-fixes | With

[2020-11-24 11:34] rfx77 opened #141 "[BUG] query with small clob as result is extremly slow (>4s) when not cast to smaller clob type"
hi!

when connecting to a db2 (ibm i, as400) database via odbc i see this problem:

i do a query which returens a clob:
`select json_object('name' value 'test') as res from sysibm.sysdummy1`

the result type of this query is clob(2g) so the maximum size would be 2 gig. in reality the size is only 15 characters.
when i execute this query it takes about 5 seconds!!! (5000ms)

when i change the query

[2020-11-24 12:33] rfx77 commented on #141
and there are timings of the same query with varying result types:

[code]

[2020-11-24 12:35] rfx77 commented on #141
Or without the whole json_object thing:
[code]

[2020-11-24 12:37] rfx77 commented on #141
And this arer the results when executed over jdbc all runtimes are the ca same:

![image](https://user-images.githubusercontent.com/61699304/100094997-26ee0700-2e5a-11eb-9f11-bfe4c561d031.png)

[2020-11-24 18:54] dromonaco commented on #122
I have now run into the `maxSize` not implemented problem referenced in #52 and #119. I will work on a fix for this and submit a pull request, unless @markdirish you already have a fix.

[2020-11-24 18:55] markdirish commented on #122
@dromonaco I think I have a fix sitting around. Should be able to push tonight

[2020-11-25 00:21] dromonaco commented on #122
@markdirish In case it helps I submitted a pull request #142 with my changes. I've been testing it for a while today and so far so good.

[2020-11-27 10:43] MrTeapot opened #143 "[QUESTION] Db2 for i: what determines if column names are lowercase or uppercase?"
Hey!

I have a table defined like this:

[code]

I fetch rows using this sql:
[code]

All returned rows/objects have their fields in uppercase. Like this:

[code]

This makes a huge difference in JS where variables are case sensitive. How can I make them lowercase?

[2020-11-28 02:22] markdirish commented on #143
You need a delimited identifier!:

[2020-11-29 20:54] MrTeapot commented on #143
Thank you, that solved my problem! I'm closing the issue.

[2020-11-29 20:54] #143 closed

[2020-11-30 09:54] MiniMarker opened #144 "Interfaces for connection and pool"
Hi.

odbc version: 2.3.5

As of today the typings of the connection function parameters is ether and string or an object.
the docs (links underneath) state that these object has some defined properties, but these are not reflected in any interface in the odbc package.

Connection: https://www.npmjs.com/package/odbc#parameters
Pool: https://www.npmjs.com/package/odbc#parameters-11

![image](https:/

[2020-11-30 15:24] MadimetjaShika commented on #122
Hi there @markdirish. Firstly, thanks for this lib, great work!

Any chance of getting @dromonaco's PR merged in? Would be really great if we could get the pool connection count "under control" :)

[2020-12-04 17:20] mealha commented on #106
I have the same problem, i have tcompiled width UNICODE and widdout and dont work

[2020-12-08 18:44] Renari commented on #128
Same issue here.

[2020-12-08 20:33] MrTeapot opened #146 "[QUESTION] Equivalent of GET DIAGNOSTICS :NbrOfRows = DB2_NUMBER_ROWS"
Hey!

A common use case when writing web services is to offer filtered and paginated lists of records.
Pagination requires a couple of things:
* A limit (Using LIMIT in the SQL)
* An offset (Using OFFSET in the SQL)
* A count of retrieved records (Available in the .length property of the result array)
* A count of total number of records available - how can I retrieve this? is it possible without

[2020-12-11 15:51] sdepold commented on #127
FWIW: It is still an issue with 2.4.0-alpha.0

[2020-12-14 18:34] claridiva2000 opened #148 "[Question] Stored procedure parameters not matching up. not sure why."
This isn't really a bug, so much as a gap in my knowledge. This lowly noob jr. dev is at your mercy. 😊

I'm trying to access a sybase16 DB to create a node api. I have managed to successfully query with a select statement but would prefer not to do that for security purposes. when I try to call a stored procedure I'm getting a weird response. I need a sanity check here and figure out what I'm miss

[2020-12-16 14:34] claridiva2000 commented on #148
[SOLVED]
I'm not sure if the .callProcedure() method is broken or just not suited to Sybase16, but I found a way around it in case it's helpful to anyone in the future.
Instead of using the callProcedure() method, do this:

  odbc.connect(connectionString, (error, connection) => {

        let my_procedure = "exec spGetEmail @acct='12345678'"

        connection.query(my_procedure, (error, result)

[2020-12-16 14:34] #148 closed

[2021-01-08 15:18] markdirish commented on #146
I don't believe so. I think you best bet is using `COUNT(*)`

I remember reading a while ago about this, since it is a very helpful case, but I don't believe that there is an ODBC way to get the total number of records available from a statement before actually fetching them. This package currently just calls `SQLFetch` until there are no more rows to return, so you have to limit it using SQL like

[2021-01-08 15:18] #146 closed

[2021-01-08 15:50] markdirish commented on #144
Got and merged in your PR! Going to close this issue, as the change will be included in the next release.

[2021-01-08 15:50] #144 closed

[2021-01-08 17:03] MiniMarker commented on #144
Great! ☺️

[2021-01-12 18:39] MiniMarker commented on #144
Any time schedule for the next release?

[2021-01-19 16:49] ranjithchev opened #150 "[BUG]Unable to load odbc.node in Red hat linux 7.9"
**Describe your system**
* `odbc` Package Version: 2.3.5
* ODBC Driver: UnidxOdbc
* Database Name: MS SQL Server
* Database Version: 2017
* Database OS: Windows
* Node.js Version: v12.15.0
* Node.js OS: Red hat Linux v7.9

**Describe the bug**
I tried to use the odbc v2.3.5 and was able to successfully build and run my application on my Mac Mojave. I tried to run it on my Linux red hat v7.9 and go

[2021-01-19 18:20] markdirish commented on #150
Linux and MacOS are not binary compatible. A binary built on one system will not work on the other. Unlike most Node.js packages, which are built using pure JavaScript and can therefore run anywhere that has a working JavaScript engine, this package is a 'native' addon, which compiles C code.

To get it to run on your RHEL system, you should just be able to run `npm install odbc` in the applicatio

[2021-01-19 18:27] ranjithchev commented on #150
Thanks for a prompt response but I forgot to mention my other point that I did indeed try to do a 'npm i odbc' directly on my RHEL and got a segmentation fault. The error you see above is after 'npm i odbc' on my RHEL.

[2021-01-19 19:29] ranjithchev commented on #150
Any idea @markdirish ?

[2021-01-19 20:04] markdirish commented on #150
Not off the top of my head. The stack trace you provided looks like it crashes when connecting in your driver. I would add `DEBUG` to the list of `defines` in binding.gyp, then rerunning your program. It should list out what is being passed to the driver to see if they are same values.

[2021-01-19 20:29] ranjithchev commented on #150
Can you give me an example of how to add the DEBUG flags please.

[2021-01-20 14:30] markdirish commented on #150
In `binding.gyp`, around line 15:
[code]
Then, run `npm i odbc --build-from-source`. Now when you run your application, it should output a lot of debug information to the terminal.

[2021-01-24 21:41] ajkaushik commented on #150
I am actually getting the exact same core-dump on trying to connect.

I was able to build from source on RH 7.6.

Obdc version 1 works as expected.

Tried with DEBUG flag as well, not giving anything meaningful.

Apart from originally posted stack, debug shows up below on console-

ODBCConnection::Init
ODBCStatement::Init
ODBC::Connect()
ODBC::ConnectAsyncWorker::Execute()

Is there a specific Sql

[2021-01-24 23:20] ajkaushik commented on #150
Not that it’s directly related to node-odbc packages, but somehow OpenSSL version mismatch is causing this. Any pointers will be helpful?

[2021-01-25 13:14] jihoobyeon opened #151 "[Not Sure it's Bug] Unable to resolve module `fs` and `child_process` from `node_modules\blah\blah`"
Hello, I'm newbie about TypeScript, and I'm working for a Windows app which reads MS Access file, and do something with its data.
This is my App.ts:
[code]
but while running `react-native run-windows` on terminal, there appers so much `Unable to resolve module 'foo'` errors, so I added some modules by `yarn`, but `fs` and `child_process` are deprecated, and assigned as **Security holding package**

[2021-01-25 13:19] worksofliam commented on #151
Hi @jihoobyeon

This is a non-issue for node-odbc.

You do not use odbc on the frontend as you do with React.

You're better of creating an express app, which uses odbc to call your database. Then your React app would call your API. This is just one way of doing it.

[2021-01-26 00:25] jihoobyeon commented on #151
Oh, thanks! I didn't new that since I'm noob here;;

[2021-01-26 00:25] #151 closed

[2021-01-27 04:03] markdirish opened #153 "Update Copyright"
Update copyright from 2019 -> 2021

[2021-01-27 04:07] markdirish opened #154 "Add `queryTimeout` option to queries/callProcedures/Statements"
As part of getting cursor support (allowing fetching of chunks of rows instead of all), an options object has been added on functions that generate a statement handle. See this PR: https://github.com/markdirish/node-odbc/pull/152

@worksofbarry has request that a `queryTimeout` option be added that takes advantage of the `SQL_ATTR_QUERY_TIMEOUT` attribute on statements.

Add the option, create tes

[2021-02-09 06:06] freemine opened #156 "row[i].size seems not assigned, thus will alway result int null ArrayBuffer"
[code]

[2021-02-09 13:39] sluggern67 opened #157 "statement is not reset between each execution"
**Describe your system**
* `odbc` Package Version: 2.3.5
* ODBC Driver: unixODBC
* Database Name: IBM i Access ODBC Driver
* Database Version: DB2 for i
* Database OS: V7R3
* Node.js Version: 14.11.0
* Node.js OS: IBM i

**Describe the bug**
The result of a statement.execute() is accumulated with the previous execute.

**Expected behavior**
It should only containt the result of the last execution.

[2021-02-12 14:15] markdirish commented on #156
It does appear that it should be setting `row[i].size` to `data->columns[i]->StrLen_or_IndPtr` before doing this `memcpy`.

I would change it, but I am close to merging in a big change that will move to column-wise binding to enable "cursor support", which forced me to rewrite all of this logic. https://github.com/markdirish/node-odbc/pull/152

 I found that the same bug existed in the PR, and I h

[2021-02-12 14:44] markdirish commented on #157
Good find. I've been implementing a cursor functionality to allow `fetch` calls and I noticed something similar, but I didn't realize it affected statements as well.

In this commit, I added some logic to delete the underlying bound data after it has all been converted to JavaScript values: https://github.com/markdirish/node-odbc/pull/152/commits/7aa138c7b542522ffc2b484780f83c82a7f1ac56 This shoul

[2021-02-12 14:48] markdirish commented on #154
PR here: https://github.com/markdirish/node-odbc/pull/158

Need to figure how best to pass queryOptions to a statement still.

[2021-02-12 15:02] markdirish commented on #150
So this all worked (and continues to work) with version 1.x of this package as expected? There is nothing SSL specific in this package. It sounds like a potential driver issue to me. All that `ODBC::ConnectAsyncWorker::Execute()` calls is:

* `SQLAllocHandle` to allocate a database connection handle
* * SQLSetConnectAttr` if connectionTimeout and/or loginTimeout are set
* `SQLDriverConnect` to act

[2021-02-12 16:39] markdirish commented on #141
@rfx77 , Sorry for getting to this so late. Looking into it now. I _THINK_ I know what the issue is and hopefully it is a quick fix.

[2021-02-12 21:53] ajkaushik commented on #150
I was able to find the root cause. Its breaking because of Openssl version diff on host vs nodejs runtime. We have RH7 hosts with OpenSSL is 1.0.* vs Nodejs14 has statically linked 1.1*.

It actually fails in underlying driver, when that tries to use OpenSSL and core dumps because of methods exposed by Nodejs runtime.

[2021-02-16 15:49] markdirish commented on #150
Since it doesn't sound like an issue with this package, I'm going to close the issue. I guess the options you have are downgrade Node.js or upgrade RHEL7. I'm actually surprised your package manager (yum/dnf) didn't enforce the OpenSSL version.

[2021-02-16 15:49] #150 closed

[2021-02-16 15:56] markdirish commented on #141
I have identified the issue:

CLOB translates to the ODBC type of `SQL_LONGVARCHAR`, and it returns a column size of 2147483647. The current logic creates buffers of each column size, and in this case creates the 2GB buffer. Then when it gets the data, it is actually incredibly small.

What I am doing now instead is to take `SQL_LONGVARCHAR`, `SQL_WLONGVARCHAR`, and `SQL_LONGVARBINARY` columns and

[2021-02-16 15:58] rfx77 commented on #141
Thank you for that. I will give it a try when i have time.

[2021-02-22 21:03] markdirish commented on #153
Merged in https://github.com/markdirish/node-odbc/pull/155

[2021-02-22 21:03] #153 closed

[2021-02-22 21:04] markdirish commented on #156
Ready to close when 2.4.0 is published to npm

[2021-02-22 21:34] markdirish commented on #130
I think that this PR will fix the problem: https://github.com/markdirish/node-odbc/pull/161

For SQL_WLONGVARCHAR, it will create a small buffer and call `SQLGetData` to return the data. If the buffer isn't big enough, it will create one that is and call `SQLGetData` again, to fill the buffer.

Buffer will be eliminated after the query is complete, and data returned to JavaScript will only contain

[2021-02-22 21:55] markdirish commented on #127
@sdepold Going to start testing with BigInts. I wouldn't think that `TODO` message is actually applicable. It binds to `SQL_C_SBIGINT`, which should be just fine for all signed bigint values.

A few questions:

Can you reproduce with a simple query? Or is it when binding parameters?
What Database/Driver are you using?

[2021-02-22 21:59] markdirish commented on #127
https://github.com/markdirish/node-odbc/blob/master/src/odbc_connection.cpp#L401-L409

This is likely the culprit. `SQL_BIGINT` binding to `SQL_C_UBIGINT`, and not `SQL_C_SBIGINT` or `SQL_C_BIGINT` (the latter of which I believe is deprecated)

[2021-02-22 22:17] markdirish commented on #127
Recreated! Will fix.

[2021-02-23 04:49] markdirish opened #165 "Explicitly declare supported versions of Node.js"
As indicated by @kadler [here](https://github.com/markdirish/node-odbc/issues/104#issuecomment-661901416), we should indicate in the documentation which versions of Node.js are supported by this package. This package has a dependency on `node-addon-api` which has a rolling support window. Should make it clear that this package won't work out of the box with older versions of Node.js

[2021-02-23 04:51] markdirish commented on #104
Will work on Kevin's suggestion, but closing this as the main issue here was solved.

[2021-02-23 04:51] #104 closed

[2021-02-23 04:53] markdirish commented on #94
Merged into master with this PR: https://github.com/markdirish/node-odbc/pull/95

Not yet published, but will close when published in the latest version.

[2021-02-23 05:00] markdirish commented on #126
@hansaliyad1 were you able to get this one working? I'm not sure what would cause a connection to stop working if it was working fine before except for something like a network interruption, routing issues, or maybe something like an expired password?

[2021-02-23 05:23] sdepold commented on #127
Wool Woop. Looking forward to have this fixed in our prod builds :) thanks for your work! Much appreciated.

[2021-02-25 02:01] freemine commented on #156
btw, i also came across NOT-SUPPORT issue in windows platform, when node-odbc try to call SQLGetInfo(...SQL_MAX_COLUMN_NAME_LEN...) right after successful SQLDriverConnect call

[code]

[2021-02-25 15:15] markdirish commented on #73
This was fixed in https://github.com/markdirish/node-odbc/pull/85

[2021-02-25 15:15] #73 closed

[2021-02-25 15:48] markdirish commented on #121
Ok, I believe this was fixed with https://github.com/markdirish/node-odbc/pull/139

I have tested against those changes and found that it is working as intended. Just going to wait for @worksofliam to confirm, then I will mark this as "ready to publish" and publish when 2.4.0 goes live.

[2021-02-25 16:17] markdirish commented on #83
Hi @jdbi336534

Obviously this was nearly a year ago... but I didn't have a good system for creating releases back then. I now have a GitHub Action that spins out Releases when a version tag is pushed. I am not going to create releases for previous missed versions, but all future versions should have their own tag.

[2021-02-25 16:17] #83 closed

[2021-02-25 16:45] markdirish commented on #128
@duffett and @Renari , let's see if we can get this solved.

It seems clear that the issue is here: https://github.com/markdirish/node-odbc/blob/480d25af7014bc26f7569e9e6c9a4efecedc41ac/src/odbc.cpp#L368-L380

The error object returns a message of `Error getting information about maximum column length from the connection`, but it should also have something on the `odbcErrors` property of the error

[2021-02-25 17:23] markdirish commented on #97
@TraceyK14 ,

Sorry for the very late followup. Not sure we ever figured this one out. If you edit `binding.gyp` to have `'DEBUG'` in its `defines` array, then run `npm install --build-from-source` in the node_modules/odbc directory, rerun the `prepare`, it should print what your driver is returning from `SQLNumParams`. If you've moved on from the issue, I will close in the next few weeks.

[2021-03-02 15:26] markdirish commented on #122
@dromonaco , could you install the latest `beta` tag and just double check that the pool still appears to be working as we fixed?

`npm install odbc@beta`

[2021-03-02 17:12] kadler commented on #136
This doesn't really have anything to do with odbc/unixodbc/node-odbc as none of these use OpenSSL libraries at all.

The problem is that Node provides its own version of OpenSSL while MySQL dynamically links to a different set of OpenSSL libraries which are not binary compatible. On Linux, as with many platforms which use the ELF executable format, symbols are bound at runtime, so whoever provides

[2021-03-03 17:08] dromonaco commented on #122
@markdirish , I should be able to get to this either Friday (2021-03-04) or Monday

[2021-03-09 06:10] trevan opened #169 "[BUG] Only 4 queries can execute in parallel?"
**Describe your system**
* `odbc` Package Version: 2.3.5
* ODBC Driver: unixodbc
* Database Name: Vertica
* Database Version: 9.3
* Database OS: CentOS
* Node.js Version: 10.16.2
* Node.js OS: Ubuntu

**Describe the bug**
The query to the database is inside of `QueryAsyncWorker` which is a child of `Napi::AsyncWorker`.  The code in `QueryAsyncWorker::Execute` is run in a worker thread.  By default

[2021-03-09 21:17] shup88 opened #170 "Binding dates"
On IBM i

I am attempting to bind dates.  When I don't bind dates and put the dates directly in the SQL string, it runs with no problem.

**The Following is the summary of what I am attempting:**

[code]

**The following is the error:**

Caught:  [Error: [odbc] Error executing the statement] {
  odbcErrors: [
    {
      state: '22018',
      code: 30200,
      message: '[IBM][System i Access ODBC

[2021-03-09 21:31] kadler commented on #170
The IBM i Access ODBC driver requires bound DATE fields be in ISO format: yyyy-mm-dd

[2021-03-09 21:36] shup88 commented on #170
Thanks

[2021-03-09 21:36] #170 closed

[2021-03-11 18:06] markdirish commented on #169
Definitely seems like less-than-ideal behavior, but are you aware of a work around (other than setting `UV_THREADPOOL_SIZE`)?

I'm not sure that trying to do something like.. call the `uv` library directly would be feasible. Also, many of the AsyncWorker classes do a lot of work in addition to calling queries. Pretty much every call to the driver is made in an AsyncWorker, and so all of that would

[2021-03-11 18:37] kadler commented on #169
ODBC does support [async execution](https://docs.microsoft.com/en-us/sql/odbc/reference/develop-app/asynchronous-execution-polling-method?view=sql-server-ver15), but that would require quite a bit of work to support and not all drivers support async execution in the first place.

[2021-03-11 18:42] markdirish commented on #169
I think that the N-API (and node-addon-api) layer would still be blocking, as 4 AsyncWorkers would be consumed and waiting for responses. Any other calls that came in would be waiting on a worker thread to free up. And from looking at the examples and reading the API documentation, I'm not sure there's a good way to have an AsyncWorker hand off the work to ODBC, free up its thread, then at a later

[2021-03-11 19:47] kadler commented on #169
The basics would be:

- node-odbc submits work to be done on a worker
- the worker calls ODBC and returns back the result
- node-odbc code receives the result and if the return code is SQL_STILL_EXECUTING, it queues up another worker action to poll the handle
- this polling continues until a result is returned or timeout or whatever

You'd basically have to wrap every ODBC API call.

Also, I don't

[2021-03-12 01:47] dromonaco commented on #122
@markdirish We're running into an issue that with the beta that we haven't pinpointed yet. If we have 2 connections with the same user profile and one of them hits an error (for example table doesn't exist) the other connection seems to lock up. Have you run into any issues similar to this?

[2021-03-12 01:49] markdirish commented on #122
I haven't. Does the same error exist in 2.3.x download, or does it seem to be specifically on 2.4.0 beta?

[2021-03-12 02:13] dromonaco commented on #122
I don't know about the 2.3.x download but I have confirmed that the same error does not exist in 2.4.0-alpha.0

[2021-03-14 11:30] jihoobyeon opened #171 "Connection is null. What am I doing wrong?"
First, sorry for frequent question.

I made a Node.js CLI app which just reads a table from MS Access file.
This is my `index.js`:
[code]
And this is result:
[code]

So I tested with this code:
[code]
And the result is:
[code]
And I tested this:
[code]
And the result is also
[code]
Of course the driver `foo` doesn't exist.

I'm keeping reading your API docs, but sadly I can't get any clue.

My spe

[2021-03-14 16:59] markdirish commented on #171
When the callback function is called, the first thing you should do is check if `e` is null or not:
[code]

In your case, the error should hold information returned from the driver/driver manager to give us better hints as to what is at issue.

[2021-03-15 12:14] jihoobyeon commented on #171
I solved it. my MS Office was 32-bit, so MS Access driver wasn't working in 64-bit Node.js

[2021-03-15 12:14] #171 closed

[2021-03-17 17:44] bencmbrook opened #172 "[BUG] Misspelled type for ColumnDefinition"
**Describe your system**
N/A

**Describe the bug**
`odbc.d.ts` has a misspelled type for `dataTypes` (currently `datayTypes` and is missing `columnSize`, `decimalDigits`, `nullable`) in the `ColumnDefinition` type.

**Expected behavior**
N/A
**To Reproduce**
N/A

**Code**
If applicable, add snippets of code to show:

https://github.com/markdirish/node-odbc/blob/bc4e646a9cf7f8a25179d413da3f48bf4f72

[2021-03-18 12:41] #172 closed

[2021-03-18 18:02] DavidRusso opened #174 "[BUG] Unicode Data Not Returned Correctly"
**Describe your system**
* `odbc` Package Version: 2.4.0-beta.1
* ODBC Driver: IBM i Access ODBC Driver 13.64.24.00
* Database Name: DB2 for IBM i
* Database Version: 7.2
* Database OS: IBM i 7.2
* Node.js Version: 14.15.1
* Node.js OS: IBM i / Windows

**Describe the bug**
In 2.4.0-beta.1, Unicode data in query results seems to be missing the first character. For example, a result column value li

[2021-03-18 18:30] kadler commented on #174
Sounds like it's gone British!

[2021-03-18 18:34] markdirish commented on #174
@DavidRusso thanks for the heads up, will investigate and ensure that it is fixed. Seems to be some sort of "off-by-one" error, so hopefully easily found and fixed.

[2021-03-18 22:01] DavidRusso commented on #122
I'm testing with 2.4.0-beta.1 and having really significant performance issues relating to the pool. I'm using the latest IBM i ACS ODBC driver for both Windows and IBM i.

Take this program for example:

[code]

When I run this program on my Windows PC (connecting to IBM i over WAN) I get a result like this:

[code]

So, HUGE delay running the first query. But, if I simply change the pool's `init

[2021-03-19 13:41] DavidRusso commented on #122
It seems that the behavior I'm seeing is what @markdirish described above about queries getting queued up behind the initial connections. Once the initial connections are established, queries run without delay.

[2021-03-23 01:32] bencmbrook opened #175 "[BUG] Query results returning cut off values at 63 bytes"
**Describe your system**
* `odbc` Package Version: 2.3.6
* ODBC Driver: AmazonRedshiftODBC-64-bit-1.4.20.1001-1.x86_64.deb ([doc link](https://docs.aws.amazon.com/redshift/latest/mgmt/configure-odbc-connection.html))
* Database Name: Amazon Redshift
* Database Version: Amazon Redshift 1.0.24421
* Database OS: N/A
* Node.js Version: node:latest (15.12.0)
* Node.js OS: Docker image node:latest (Debi

[2021-03-25 13:58] markdirish commented on #175
Let's see if we can unravel this mystery.

For an SQL_CHAR field, the `columnSize` that is returned in the column definitions in JavaScript equals the value returned from `SQLDescribeCol`.

[code]
The actual underlying buffer used to return data to is ColumnSize * 4 (the maximum number of bytes to represent a code-point in UTF-8) + 1 for the null terminator. So your buffer should actually have a s

[2021-03-25 14:44] kadler commented on #175
@mirish From the doc you linked to:

Also from https://www.postgresql.org/docs/current/sql-syntax-lexical.html#SQL-SYNTAX-IDENTIFIERS

Possibly Amazon has changed this length on the server but not the driver?

[2021-03-25 14:48] kadler commented on #175
Looks like they've changed it to 128 on the server: https://docs.aws.amazon.com/redshift/latest/dg/r_CREATE_TABLE_NEW.html

This seems like a bug in the RedShift ODBC driver.

@bencmbrook Are the results truncated when queried from `isql` as well? That would definitely point to this being a driver issue, not a node-odbc issue.

[2021-04-02 19:19] grahamaj commented on #136
@kadler Thanks for your insights. I believe that you are correct. The solution doesn't involve node-odbc at all. As such, I will go ahead and close this issue.

[2021-04-02 19:19] #136 closed

[2021-04-04 00:17] dromonaco commented on #122
@markdirish Sorry for the delay.

Here are my timing results of the old `pool-fixes` branch version of the code vs the new `2.4.0-beta.1` published version. Unfortunately I was not able to get the function I previously tested with working again but I did these timings with a similar function that make 9 calls, in succession, via node-odbc to the XMLSERVICE stored procedure iPLUGR512K which is used

[2021-04-06 22:06] DavidRusso opened #176 "[BUG] Unhandled Promise Rejection When Pool Connections Fail"
In v2.4.0-beta.1, the pool constructor fails due to an unhandled promise rejection when connections fail. Such as for non-existent DSN, incorrect uid/pwd, or whatever.

For example:

[code]

I would expect the `catch` block to execute, but instead an UnhandledPromiseRejection message is output. The result is similar if a callback is used -- the UnhandledPromiseRejection message is output and the c

[2021-04-12 17:08] markdirish commented on #150
For what its worth, I got this running on my RHEL 7.9 workstation by downloading `openssl11` from the epel repo. No other changes were needed, just downloaded and it started working.

[2021-04-13 03:35] markdirish commented on #174
A missing pair of parens here is the culprit: https://github.com/markdirish/node-odbc/blob/ed6da2942b14e04b72df5d86989a7486ed235352/src/odbc_connection.cpp#L2835

Should read:
[code]

Will get a PR pushed in the morning.

[2021-04-18 09:38] serininformatica opened #179 "Last insert id"
It's possible to retrieve last insert id in a table having autoincrement key?

[2021-04-18 23:33] markdirish commented on #179
Which DBMS are you using? If Db2 (and probably others), you should be able to wrap your query like so:

[code]

There is no out of the box ODBC way to do this, so you have to modify your query like above.

[2021-04-20 01:06] markdirish commented on #176
Found and fixes in #180 . Problem was the new use of `Promise.race`, which I wasn't wrapping in a try/catch, and therefore not handling the error with a `reject(error)`. Now running the code above I get a nice error:
[code]

[2021-04-20 11:48] vognev commented on #128
in my case mdbtools odbc driver just does not supports SQL_MAX_COLUMN_NAME_LEN -  https://github.com/mdbtools/mdbtools/blob/dev/src/odbc/odbc.c#L1911, maybe it is possible to make an option/workaround for it?

[2021-04-20 17:32] vognev opened #182 "[BUG] [2.4.0] Cursor error using mdbtools driver"
**Describe your system**
* `odbc` Package Version: `2.4.0` from git branch
* ODBC Driver: MDBTools
* Database Name: MS Access mdb database file
* Database Version: debian:buster-slim docker image
* Database OS: linux
* Node.js Version: v12.22.1
* Node.js OS: debian:buster-slim docker image

**Describe the bug**
When trying to execute a query against aforementioned db, following error occuring:
[co

[2021-04-21 10:47] darcyrush opened #183 "[BUG] Typing issue in PoolParameters"
In v2.3.6 `shrink` in the `PoolParameters` interface is set as a number but in the JS code it defaults to `true`. I don't have good C++ skills to check if this is actually a coercion bug but I'm betting looking at the log history it's just a simple oversight from `245c73d1`

[2021-04-28 19:02] bencmbrook commented on #175
Thank you so much for the thorough responses @markdirish and @kadler. I believe you're correct that this is a Redshift ODBC driver issue. I haven't had a moment to test this in `isql` yet, but I'm going to close this issue in the meantime. I'll also report back here once this is confirmed.

This package is great; thank you for maintaining it!

[2021-04-28 19:02] #175 closed

[2021-04-28 20:32] bencmbrook commented on #175
@markdirish this retrieves the complete table names!

[2021-04-28 20:37] bencmbrook commented on #175
Filed this with Amazon here https://forums.aws.amazon.com/thread.jspa?messageID=982413&#982413

[2021-05-06 21:31] toddaa opened #185 "connect() loginTimeout?"
Is the `connect()` `loginTimeout` parameter supposed to return after the number of seconds specified?
[code]
I am attempting to write in a fallback for two replicated servers.  My primary connection should usually be there, but since I have a DB slave I figured I may as well use it.

I set the `loginTimeout` parameter to 3 seconds at which I'm changing the `connectionString` parameter and connecti

[2021-05-10 14:11] #183 closed

[2021-05-10 14:32] markdirish commented on #185
I'm just a little unclear on how you are setting `loginTimeout`. Are you using the connection options property?

[code]

It seems like that should work. [If you turn tracing on through unixODBC (or ODBC Data Source Administrator)](https://github.com/markdirish/node-odbc/tree/2.4.0#debugging) you should be able to see an entry like:

[code]
This at least will let you know that it was set correctly

[2021-05-10 15:59] #179 closed

[2021-05-10 16:10] markdirish commented on #128
Ready to publish when 2.4.0 gets released

[2021-05-14 03:21] markdirish commented on #122
@DavidRusso , I think this should finally be fixed in https://github.com/markdirish/node-odbc/pull/191

Turns out my strategy of using `Promise.race` wasn't really doing anything, and all of the connections are queued up immediately. So the queue of async work to do was filled up with connection creation, and the query (which is encountered in the JavaScript code immediately after the first connec

[2021-05-19 17:58] toddaa commented on #185
Oh gosh...apologies.  I made a rookie mistake and completely misread the document.  I was passing the timeout value to the constructor itself rather than passing a single object with documented `{ connectionString: 'my;connection;string;', loginTimeout: 3 }` format.  Again my apologies.  After seeing my mistake it works and properly times out at the specified number of seconds.

[2021-05-19 17:58] #185 closed

[2021-05-27 13:30] jwllms opened #192 "[BUG] dependency on deprecated version of node-pre-gyp"
I'm trying to install node-red-contrib-odbc in node red runing under docker.
It fails with a dependency on deprecated version of node-pre-gyp that seems to be included here...
It probably should be changed to a dependency on @mapbox/node-pre-gyp

[2021-06-01 21:00] DavidRusso commented on #122
Nice! Any chance for a new 2.4.0 beta release, if not a normal release? You've fixed a few issues now that I was having some problems with.

[2021-06-01 21:02] markdirish commented on #122
Frantically trying to get a release out sometime tonight :smile:

[2021-06-01 21:29] tomboolean commented on #122
w00t!

On Tue, Jun 1, 2021 at 2:02 PM Mark Irish ***@***.***> wrote:

--

*Ana Tomboulian*

*CTO | **peerlogic*

480 | 561.1554

***@***.*** | https://www.linkedin.com/in/anatomboulian/

[2021-06-01 21:53] markdirish commented on #122
There should be a new beta release available now. `npm install odbc@beta`, the new version should be 2.4.0-beta.2!

[2021-06-02 14:42] DavidRusso commented on #174
This is working well for me in 2.4.0-beta.2. Thanks!

[2021-06-02 15:57] DavidRusso commented on #176
This doesn't seem to be working correctly for me in 2.4.0-beta.2.

Now, my original example above doesn't produce any output of any kind. There is no more unhandled promise rejection warning, but still the catch block doesn't execute.

I tried modifying the example like this:

[code]

It just outputs "pool created" and the process ends.

I've tested on both Windows and IBM i, the result is the sam

[2021-06-02 16:15] DavidRusso commented on #122
I re-tested query performance while the pool is initializing in 2.4.0-beta.2. Works great now, thanks!

[2021-06-03 16:17] worksofliam opened #194 "[BUG] Potential memory leak with callProcedure"
**Describe your system**
* `odbc` Package Version: 2.3.4
* ODBC Driver: IBM i Access ODBC Driver
* Database Name: Db2 for i
* Database Version: 7.3 & 7.4
* Database OS: IBM i
* Node.js Version: 12.13.1
* Node.js OS: Mac and CentOS

**Describe the bug**

Stack memory continues to grow while the heap stays small.

**Expected behavior**

Stack memory to be not so large. Continue to grow and is not be

[2021-06-03 22:45] gianluca1606 opened #195 "Get results as only one array"
Hello guys, i am trying to get started with the package on the ibm i and after a few tries i got everything working.

The only problem i have is that the results of a query are inside an array with other objects like count, parameters, return etc..

In this way it is impossible to return only an array with the results of the query. In order to do that i would always have to slice the array by remo

[2021-06-04 00:57] gianluca1606 commented on #135
I think this Issue can be closed if you use normal imports it should work.

[2021-06-07 19:31] NattyNarwhal commented on #194
I've generated some results from Valgrind. One instance had a ^C, other segfaulted.
[one without segfault.txt](https://github.com/markdirish/node-odbc/files/6611540/one.without.segfault.txt)
[one with segfault.txt](https://github.com/markdirish/node-odbc/files/6611541/one.with.segfault.txt)

[2021-06-08 17:52] McPrescott commented on #195
The object returned from query IS an array of the query results with extra properties. The TypeScript definition is:

[code]

The only objects that are included in the array are the query results. If you're using the console to print I can see how this could be mistaken for extra items in the array. To avoid printing the extra metadata you can iterate over its elements using any typical array iter

[2021-06-08 21:45] kadler commented on #194
What version of the driver? I see a bunch of mismatched free/delete in there coming from the driver, so it shouldn't be the latest version (since those should now be fixed).

[2021-06-08 21:45] kadler commented on #194
Also, based on the info given, looks like the stack isn't growing (not sure how it would unless you heavily recursed), but the heap is almost full.

[2021-06-09 17:09] kadler commented on #194
I think some of that can be accounted by the fact nothing is closed. The driver will keep around some resources until you explicitly close/free them. I've modified the source to close after so many executions and to use setTimeout and call itself instead of setInterval (since the interval was too short, causing multiple statements to be executed at the same time, making closing cleanly before exit

[2021-06-09 17:11] kadler commented on #194
The vast majority of the leak appears to come from QueryData::deleteColumns not deleting the boundRow pointers.

I'm not sure the difference between the deleteColumns and clear, but replacing [this loop](https://github.com/markdirish/node-odbc/blob/master/src/odbc.h#L153-L158) with the [this one](https://github.com/markdirish/node-odbc/blob/master/src/odbc.h#L206-L233) got rid of a ~2M/s leak in t

[2021-06-09 19:10] kadler opened #198 "Remove bindValueCount"
Half the code uses bindValueCount while half the code references parameterCount, but when used, the code ensures they must be the same. Since the `Parameter*` is initialized using the length of parameters passed by the user (currently set to bindValueCount), the code should always reference that length when dealing with this array, but in the QueryData destructor, it uses the larger of the two val

[2021-06-09 19:13] kadler commented on #194
FYI, while investigating the leak, I found a segfault in the driver caused by inconsistent handling of variable length data compression. This may be the cause of the segfault @NattyNarwhal ran in to in the original Valgrind runs.

I'd recommend setting DEBUG=1024 in the meantime to disable this type of compression.

[2021-06-09 20:27] NattyNarwhal commented on #194
Looks a little better: https://gist.githubusercontent.com/NattyNarwhal/6f6dadf854a6f106383c1f071f2ea0cd/raw/1332b41d0c06cb5bc7b2cb5205fb9409b943fff4/gistfile1.txt

[2021-06-09 20:34] kadler commented on #194
You'll likely get cleaner results using some of these changes:

[code]

[2021-06-09 21:19] NattyNarwhal commented on #194
That indeed does look much better: https://gist.github.com/NattyNarwhal/9097d6b384201ad3201ffd8ec61223ac

[2021-06-09 21:44] kadler commented on #194
Ahh, the reason I didn't see the `PiSyDES::ebcdicStrLen` conditional jump issue is I suspect due to my systems being at PWDLVL 3 while yours is 0 or 1.

The convertToClientCodePage leak I figured out. It's an issue in the driver when the descriptor gets reset and it doesn't free a pointer before it wipes it out. Nothing you can do there without a driver testfix.

[2021-06-14 19:08] worksofliam commented on #194
@kadler Thanks for your work here.

I think the next step for us is to stop using our own pool and try to use the pool class shipped with ODBC (we didn't want it to close the connections when the query is done). It could be that the pool class we're using is shite.

But, since `callProcedure` isn't part of the base pool class, I need to make a fork of your fork to add it the base.

After that, we'

[2021-06-15 14:53] worksofliam commented on #194
@kadler Your fixes are looking good. As well as that, we had to replace our custom pool class (which re-used connections) with the odbc pool class, which works but is problematic in the fact that it increased our latency times by almost double.

We also had to make a fork to add `callProcedure` to the pool class. I plan on making the PR when your PR with the fixes have been merged.

Thanks!

[2021-06-15 14:53] #194 closed

[2021-06-15 15:00] NattyNarwhal commented on #194
To add: since the leaking is gone or much, much smaller with the node-odbc pool that closes instead of reuses connections, it makes me suspect the resources that get leaked in our previous situation do get freed, but at the connection tear-down time, either by node-odbc/the driver.

Recommendation to merge #197 stands.

[2021-06-20 16:15] ulmont opened #199 "Connection Pool Not Persisting Fetcharray mode"
I'm using the fetcharray mode so that I can write consistent code whether I'm using ODBC or Postgres on the back end (ODBC ends up with objects having UPPERCASE names, Postgres ends up with objects having lowercase names, so using the object forms doesn't work).

...my code correctly returns arrays of arrays when pool.query is used if I use a single connection:

[code]

...but incorrectly returns

[2021-06-20 16:29] ulmont commented on #199
I think the issue is that odbc.connect will pass the entire connection object to the native code:

[code]
But Pool, when it gets to increasePoolSize, will only use the connectionString, connectTimeout, and loginTimeout properties of the original connection object:

[code]

[2021-06-20 16:44] ulmont commented on #199
Pull request is here: https://github.com/markdirish/node-odbc/pull/200

[2021-06-21 20:56] markdirish commented on #195
Hi @gianluca1606 ,

Sorry for the late response, I have been on vacation. Like @McPrescott noted, the result object returned is a regular old array that can be iterated over like any other, it just has some additional properties, similar to how "vanilla" arrays have a `length` property. In JavaScript, all Arrays are objects, and in addition to having elements of the array, can have additional prop

[2021-06-21 20:56] #195 closed

[2021-06-23 14:12] markdirish commented on #176
Yeah this one will take some thinking...

The issue is here:
https://github.com/markdirish/node-odbc/blob/c011dc0e29b984863711c49a0e77933cfc3096e6/lib/Pool.js#L48-L53

Basically, connections are created in the background and then are made available to the user as they become available. They are made X at a time, where X is whatever the user passes as `maxActivelyConnecting` to the config object. B

[2021-06-28 19:45] kadler opened #204 "Make StrLen_or_IndPtr not a pointer again"
This field used to be a plain SQLLEN field on the Paramter class, but was changed in 65d7f38d to a pointer, but the pointer is only set once: [here](https://github.com/markdirish/node-odbc/blob/master/src/odbc.cpp#L622).

There's no need to allocate this dynamically and it causes multiple annoyances: it's another manual memory allocation that needs to be tracked & freed along with small allocation

[2021-07-06 19:00] markdirish commented on #192
2.4.0 is now published and this should be fixed. Feel free to open if it still seems broken!

[2021-07-06 19:00] #192 closed

[2021-07-06 19:00] markdirish commented on #176
2.4.0 is now published and this should be fixed. Feel free to open if it still seems broken!

[2021-07-06 19:00] #176 closed

[2021-07-06 19:00] markdirish commented on #174
2.4.0 is now published and this should be fixed. Feel free to open if it still seems broken!

[2021-07-06 19:00] #174 closed

[2021-07-06 19:12] markdirish commented on #156
2.4.0 is now published and this should be fixed. Feel free to open if it still seems broken!

[2021-07-06 19:12] #156 closed

[2021-07-06 19:13] markdirish commented on #157
2.4.0 is now published and this should be fixed. Feel free to open if it still seems broken!

[2021-07-06 19:13] #157 closed

[2021-07-06 19:13] markdirish commented on #165
Was merged in as part of 2.4.0

[2021-07-06 19:13] #165 closed

[2021-07-06 19:13] markdirish commented on #131
2.4.0 is now published and this should be fixed.

[2021-07-06 19:13] #131 closed

[2021-07-06 19:14] markdirish commented on #94
2.4.0 is now published and this should be fixed. Feel free to open if it still seems broken!

[2021-07-06 19:14] #94 closed

[2021-07-06 19:15] markdirish commented on #128
2.4.0 is now published and this should be fixed. Feel free to open if it still seems broken!

[2021-07-06 19:15] #128 closed

[2021-07-06 19:15] markdirish commented on #127
2.4.0 is now published and this should be fixed. Feel free to open if it still seems broken!

[2021-07-06 19:15] #127 closed

[2021-07-06 19:16] markdirish commented on #199
Was merged in with #200, which is now published in version 2.4.0. Feel free to open if it still seems broken!

[2021-07-06 19:16] #199 closed

[2021-07-12 12:16] RMVincentF opened #206 "2.4.0 not compiling"
Hi,

Version 2.4.0 does not compile on windows.

Here's the full stack trace. I was working on 2.3.6.

My windows is in french, sorry about that.

I think it has something to do with the fixe : BIGINT fields are now bound by default correctly

Thanks!

node-pre-gyp ERR! install response status 404 Not Found on https://github.com/markdirish/node-odbc/releases/download/v2.4.0/odbc-v2.4.0-win32-x64-n

[2021-07-12 15:15] kadler commented on #206
Seems to be complaining that bigint is not defined. BigInt support requires N-API > 5: https://github.com/nodejs/node-addon-api/blob/main/napi.h#L122-L124 which is supported on [Node 14.0+](https://nodejs.org/api/n-api.html#n_api_node_api_version_matrix) and the command even says it's compiling for a version higher than 5: `--napi_version=8 --node_abi_napi=napi --napi_build_version=6 --node_napi_l

[2021-07-12 16:33] markdirish commented on #206
This one is making me scratch my head a little as well. I was able to install on my windows machine running Node.js v14, targeting NAPI v6. I think that `--napi_version=8 --node_abi_napi=napi --napi_build_version=6 --node_napi_label=napi-v6` indicates that the highest `napi_version` for Node.js is 8, but we are targeting 6 (`node-pre-gyp` needs us to target particular versions, because the binarie